{% load trans from i18n %}
{% load icon from django_ledger %}

<div class="box">
    <div class="table-container">
        <table class="table is-fullwidth is-striped is-hoverable is-narrow django-ledger-table-bottom-margin-75">
            <thead>
            <tr>
                <th>{% trans 'UOM Name' %}</th>
                <th>{% trans 'Abbreviation' %}</th>
                <th class="has-text-centered">{% trans 'Active' %}</th>
                <th class="has-text-centered">{% trans 'Actions' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for uom in uom_list %}
                <tr>
                    <td><span class="has-text-weight-bold">{{ uom.name }}</span></td>
                    <td><span class="tag is-light is-info">{{ uom.unit_abbr }}</span></td>
                    <td class="has-text-centered">
                        {% if uom.is_active %}
                            <span class="icon has-text-success" title="{% trans 'Active' %}">
                                {% icon 'ant-design:check-circle-filled' 20 %}
                            </span>
                        {% else %}
                            <span class="icon has-text-danger" title="{% trans 'Inactive' %}">
                                {% icon 'mdi:dangerous' 20 %}
                            </span>
                        {% endif %}
                    </td>
                    <td class="has-text-centered">
                        <div class="dropdown is-right is-hoverable" id="uom-action-{{ uom.uuid }}">
                            <div class="dropdown-trigger">
                                <button class="button is-small is-rounded is-white"
                                        aria-haspopup="true"
                                        aria-controls="dropdown-menu">
                                    <span class="icon is-small">{% icon 'bi:three-dots-vertical' 20 %}</span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu-{{ uom.uuid }}" role="menu">
                                <div class="dropdown-content">
                                    <a href="{% url 'django_ledger:uom-update' entity_slug=entity_slug uom_pk=uom.uuid %}"
                                       class="dropdown-item">
                                        <span class="icon is-small mr-2">{% icon 'bi:pencil' 16 %}</span>
                                        {% trans 'Update' %}
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="{% url 'django_ledger:uom-delete' entity_slug=entity_slug uom_pk=uom.uuid %}"
                                       class="dropdown-item has-text-danger">
                                        <span class="icon is-small mr-2">{% icon 'bi:trash-fill' 16 %}</span>
                                        {% trans 'Delete' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
