[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
jsonfield = "*"
pandas = "*"
django-pandas = "*"
django-mptt = "*"

[dev-packages]

[requires]
python_version = "3.7"
