[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.0"
django-mptt = ">=0.11.0"
ofxtools = ">=0.8.21"
jsonschema = ">=3.2.0"

[dev-packages]
sphinx = "~=3.4.1"
faker = "~=5.1"
behave = "~=1.2.6"

[requires]
python_version = "3.9"
