{% extends 'django_ledger/layouts/content_layout_1.html' %}
{% load static %}
{% load django_ledger %}
{% load i18n %}

{% block header_buttons %}
    <a href="{% url 'django_ledger:ledger-create' entity_slug=view.kwargs.entity_slug %}"
       class="button is-success  is-outlined">
        <span class="icon">{% icon 'bi:plus-lg' 20 %}</span>
        <span>{% trans 'Create Ledger' %}</span>
    </a>
{% endblock %}

{% block view_content %}
    <div class="level mb-4">
        <div class="level-left">
            <div class="level-item">
                <form action="" method="get">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input is-rounded" type="text" name="q"
                                   placeholder="{% trans 'Search...' %}">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-info is-rounded">
                                <span class="icon">{% icon 'bi:search' 16 %}</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="level-right">
            {% if previous_month %}
                <div class="level-item">
                    <a class="button is-small is-dark is-outlined"
                       href="{% url 'django_ledger:ledger-list-month' year=previous_month.year month=previous_month.month entity_slug=view.kwargs.entity_slug %}">
                        <span class="icon is-small">{% icon 'bi:arrow-left-circle' 16 %}</span>
                        <span>{{ previous_month | date:'F Y' }}</span>
                    </a>
                </div>
            {% endif %}

            {% if next_month %}
                <div class="level-item">
                    <a class="button is-small is-dark is-outlined"
                       href="{% url 'django_ledger:ledger-list-month' year=next_month.year month=next_month.month entity_slug=view.kwargs.entity_slug %}">
                        <span>{{ next_month | date:'F Y' }}</span>
                        <span class="icon is-small">{% icon 'bi:arrow-right-circle' 16 %}</span>
                    </a>
                </div>
            {% endif %}

            {% if previous_year %}
                <div class="level-item">
                    <a class="button is-small is-dark is-outlined"
                       href="{% url 'django_ledger:ledger-list-year' year=previous_year.year entity_slug=view.kwargs.entity_slug %}">
                        <span class="icon is-small">{% icon 'bi:arrow-left-circle' 16 %}</span>
                        <span>{{ previous_year | date:'Y' }}</span>
                    </a>
                </div>
            {% endif %}

            {% if next_year %}
                <div class="level-item">
                    <a class="button is-small is-dark is-outlined"
                       href="{% url 'django_ledger:ledger-list-year' year=next_year.year entity_slug=view.kwargs.entity_slug %}">
                        <span>{{ next_year | date:'Y' }}</span>
                        <span class="icon is-small">{% icon 'bi:arrow-right-circle' 16 %}</span>
                    </a>
                </div>
            {% endif %}

            {% if page_obj %}
                {% if page_obj.has_previous %}
                    <div class="level-item">
                        <a href="?page={{ page_obj.previous_page_number }}"
                           class="button is-small is-dark is-outlined">
                            <span class="icon is-small">{% icon 'bi:arrow-left' 16 %}</span>
                        </a>
                    </div>
                {% endif %}
                <div class="level-item">
                    <p class="is-italic is-size-7">page {{ page_obj.number }}
                        of {{ page_obj.paginator.num_pages }}</p>
                </div>
                {% if page_obj.has_next %}
                    <div class="level-item">
                        <a href="?page={{ page_obj.next_page_number }}"
                           class="button is-small is-dark is-outlined">
                            <span class="icon is-small">{% icon 'bi:arrow-right' 16 %}</span>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% ledgers_table ledger_list %}

    <div class="box has-background-light mt-4">
        {% if year %}
            <h5 class="title is-6 mb-2">{% trans 'Go to month:' %}</h5>
            <div class="buttons are-small">
                <a class="button is-white" href="{% url 'django_ledger:ledger-list' entity_slug=view.kwargs.entity_slug %}">
                    {% trans 'All' %}
                </a>
                {% for date in date_list %}
                    <a class="button is-info is-light" href="{% url 'django_ledger:ledger-list-month' entity_slug=view.kwargs.entity_slug year=date.year month=date.month %}">
                        {{ date | date:'F' }}
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <h5 class="title is-6 mb-2">{% trans 'Go to year:' %}</h5>
            <div class="buttons are-small">
                <a class="button is-white" href="{% url 'django_ledger:ledger-list' entity_slug=view.kwargs.entity_slug %}">
                    {% trans 'All' %}
                </a>
                {% for date in date_list %}
                    <a class="button is-info is-light" href="{% url 'django_ledger:ledger-list-year' entity_slug=view.kwargs.entity_slug year=date.year %}">
                        {{ date.year }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        <hr class="my-4">

        <div class="buttons is-centered">
            {% if not view.show_all %}
                <a class="button is-info is-outlined"
                   href="{% url 'django_ledger:ledger-list-all' entity_slug=view.kwargs.entity_slug %}">{% trans 'Show All' %}</a>
            {% endif %}
            {% if not view.show_visible %}
                <a class="button is-info is-outlined"
                   href="{% url 'django_ledger:ledger-list-visible' entity_slug=view.kwargs.entity_slug %}">{% trans 'Only Visible' %}</a>
            {% endif %}
            {% if not view.show_current %}
                <a class="button is-info is-outlined"
                   href="{% url 'django_ledger:ledger-list' entity_slug=view.kwargs.entity_slug %}">{% trans 'Show Current' %}</a>
            {% endif %}
            <a class="button is-dark"
               href="{% url 'django_ledger:entity-dashboard' entity_slug=view.kwargs.entity_slug %}">
                <span class="icon">{% icon 'bi:arrow-left' 16 %}</span>
                <span>{% trans 'Back to Dashboard' %}</span>
            </a>
        </div>
    </div>
{% endblock %}
