{% load django_ledger %}
{% load i18n %}

<div class="box">
    <div class="table-container">
        <table class="table is-fullwidth is-striped is-hoverable is-narrow django-ledger-table-bottom-margin-75">
            <thead>
            <tr>
                <th>{% trans 'Number' %}</th>
                <th>{% trans 'Status' %}</th>
                <th>{% trans 'Status Date' %}</th>
                <th>{% trans 'Vendor' %}</th>
                <th class="has-text-right">{% trans 'Amount Due' %}</th>
                <th class="has-text-right">{% trans 'Payments' %}</th>
                <th class="has-text-centered">{% trans 'Past Due' %}</th>
                <th class="has-text-centered">{% trans 'Actions' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for bill in bills %}
                <tr id="{{ bill.get_html_id }}">
                    <td><span class="has-text-weight-bold">{{ bill.bill_number }}</span></td>
                    <td>
                        <span class="tag is-light {% if bill.bill_status == 'paid' %}is-success{% elif bill.bill_status == 'partially_paid' %}is-info{% elif bill.is_past_due %}is-danger{% endif %}">
                            {{ bill.get_bill_status_display }}
                        </span>
                    </td>
                    <td>{{ bill.get_status_action_date | date }}</td>
                    <td>{{ bill.vendor.vendor_name }}</td>
                    <td class="has-text-right" id="{{ bill.get_html_amount_due_id }}">
                        {% currency_symbol %}{{ bill.amount_due | currency_format }}
                    </td>
                    <td class="has-text-right" id="{{ bill.get_html_amount_paid_id }}">
                        {% currency_symbol %}{{ bill.amount_paid | currency_format }}
                    </td>
                    <td class="has-text-centered">
                        {% if bill.is_past_due %}
                            <span class="icon has-text-danger" title="{% trans 'Past Due' %}">
                                {% icon 'bi:exclamation-circle-fill' 20 %}
                            </span>
                        {% endif %}
                    </td>
                    <td class="has-text-centered">
                        <div class="dropdown is-right is-hoverable" id="bill-action-{{ bill.uuid }}">
                            <div class="dropdown-trigger">
                                <button class="button is-small is-rounded is-white"
                                        aria-haspopup="true"
                                        aria-controls="dropdown-menu">
                                    <span class="icon is-small">{% icon 'bi:three-dots-vertical' 20 %}</span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu-{{ bill.uuid }}" role="menu">
                                <div class="dropdown-content">
                                    <a href="{% url 'django_ledger:bill-detail' entity_slug=entity_slug bill_pk=bill.uuid %}"
                                       class="dropdown-item">
                                        <span class="icon is-small mr-2">{% icon 'bi:eye' 16 %}</span>
                                        {% trans 'Details' %}
                                    </a>
                                    <a href="{% url 'django_ledger:bill-update' entity_slug=entity_slug bill_pk=bill.uuid %}"
                                       class="dropdown-item">
                                        <span class="icon is-small mr-2">{% icon 'bi:pencil' 16 %}</span>
                                        {% trans 'Update' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
