{% load django_ledger %}
{% load i18n %}

<div class="box">
    <div class="table-container">
        <table class="table is-fullwidth is-striped is-hoverable is-narrow django-ledger-table-bottom-margin-75">
            <thead>
            <tr>
                <th>{% trans 'PO Number' %}</th>
                <th>{% trans 'Description' %}</th>
                <th>{% trans 'Status Date' %}</th>
                <th>{% trans 'Status' %}</th>
                <th class="has-text-right">{% trans 'Amount' %}</th>
                <th class="has-text-centered">{% trans 'Actions' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for po in po_list %}
                <tr>
                    <td><span class="has-text-weight-bold">{{ po.po_number | default:"" }}</span></td>
                    <td>{{ po.po_title }}</td>
                    <td>{{ po.get_status_action_date | date }}</td>
                    <td>
                        <span class="tag is-light {% if po.po_status == 'fulfilled' %}is-success{% elif po.po_status == 'draft' %}is-warning{% endif %}">
                            {{ po.get_po_status_display }}
                        </span>
                    </td>
                    <td class="has-text-right">{% currency_symbol %}{{ po.po_amount | currency_format }}</td>
                    <td class="has-text-centered">
                        <div class="dropdown is-right is-hoverable" id="po-action-{{ po.uuid }}">
                            <div class="dropdown-trigger">
                                <button class="button is-small is-rounded is-white"
                                        aria-haspopup="true"
                                        aria-controls="dropdown-menu">
                                    <span class="icon is-small">{% icon 'bi:three-dots-vertical' 20 %}</span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu-{{ po.uuid }}" role="menu">
                                <div class="dropdown-content">
                                    <a href="{% url 'django_ledger:po-detail' entity_slug=entity_slug po_pk=po.uuid %}"
                                       class="dropdown-item">
                                        <span class="icon is-small mr-2">{% icon 'bi:eye' 16 %}</span>
                                        {% trans 'Details' %}
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="{% url 'django_ledger:po-delete' entity_slug=entity_slug po_pk=po.uuid %}"
                                       class="dropdown-item has-text-danger">
                                        <span class="icon is-small mr-2">{% icon 'bi:trash-fill' 16 %}</span>
                                        {% trans 'Delete' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
