{% extends 'django_ledger/layouts/content_layout_1.html' %}
{% load i18n %}
{% load django_ledger %}

{% block view_content %}
    <form action="{% url 'django_ledger:customer-estimate-update' entity_slug=view.kwargs.entity_slug ce_pk=view.kwargs.ce_pk %}"
          method="post">
        {% csrf_token %}
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <div class="columns is-multiline">
            <div class="column is-12">
                <div class="columns is-multiline">
                    <div class="column is-6">
                        {% include 'django_ledger/includes/card_customer.html' with  customer=customer_estimate.customer %}
                    </div>
                    <div class="column is-6">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-header-title">{% trans 'Customer Estimate' %}</p>
                            </div>
                            <div class="card-content">
                                <h2 class="is-size-3 has-text-weight-light">{{ customer_estimate.estimate_number }}</h2>
                                <h2 class="is-size-3">{% trans 'Status' %}: {{ customer_estimate.get_status_display }}</h2>
                                <h3 class="has-text-weight-bold is-size-4 has-text-success">
                                    {% trans 'Estimated Revenue' %}:
                                    {% currency_symbol %}{{ customer_estimate.revenue_estimate }}</h3>
                                <h3 class="is-size-4 has-text-info">{% trans 'Profit Estimate' %}:
                                    {% currency_symbol %}{{ customer_estimate.profit_estimate }}</h3>
                                <br>
                                <div class="field">
                                    <label for="{{ form.terms.id_for_label }}"
                                           class="label">{{ form.terms.label }}</label>
                                    <div class="control">{{ form.terms }}</div>
                                </div>
                                <br>
                                <p class="has-text-weight-bold">{% trans 'Cost Breakdown' %}:</p>
                                <h3 class="has-text-weight-light is-italic is-size-5">
                                    {% trans 'Labor Cost' %}:
                                    {% currency_symbol %}{{ customer_estimate.labor_estimate }}</h3>
                                <h3 class="has-text-weight-light is-italic is-size-5">
                                    {% trans 'Materials Cost' %}:
                                    {% currency_symbol %}{{ customer_estimate.material_estimate }}</h3>
                                <h3 class="has-text-weight-light is-italic is-size-5">
                                    {% trans 'Equipment Cost' %}:
                                    {% currency_symbol %}{{ customer_estimate.equipment_estimate }}</h3>
                                <h3 class="has-text-weight-light is-italic is-size-5">
                                    {% trans 'Other Cost' %}:
                                    {% currency_symbol %}{{ customer_estimate.other_estimate }}</h3>
                                <h3 class="is-size-4">{% trans 'Total Cost' %}:
                                    {% currency_symbol %}{{ customer_estimate.cost_estimate }}</h3>
                                <br>
                                <h3 class="is-size-4 has-text-weight-light is-italic">
                                    {% trans 'Estimated Gross Margin' %}: {{ customer_estimate.gross_margin_percent_estimate | floatformat:2 }}%</h3>

                                {# ACTIONS #}
                                {% if customer_estimate.can_draft %}
                                    <a class="button is-fullwidth is-info mt-2"
                                       href="{% url 'django_ledger:customer-estimate-action-mark-as-draft' entity_slug=view.kwargs.entity_slug ce_pk=view.kwargs.ce_pk %}">
                                        {% trans 'Mark as Draft' %}
                                    </a>
                                {% endif %}

                                {% if customer_estimate.can_review %}
                                    <a class="button is-fullwidth is-info mt-2"
                                       href="{% url 'django_ledger:customer-estimate-action-mark-as-review' entity_slug=view.kwargs.entity_slug ce_pk=view.kwargs.ce_pk %}">
                                        {% trans 'Mark as In Review' %}
                                    </a>
                                {% endif %}

                                {% if customer_estimate.can_approve %}
                                    <a class="button is-fullwidth is-warning mt-2"
                                       href="{% url 'django_ledger:customer-estimate-action-mark-as-approved' entity_slug=view.kwargs.entity_slug ce_pk=view.kwargs.ce_pk %}">
                                        {% trans 'Mark Approved' %}
                                    </a>
                                {% endif %}

                                {% if customer_estimate.can_complete %}
                                    <a class="button is-fullwidth is-success mt-2"
                                       href="{% url 'django_ledger:customer-estimate-action-mark-as-completed' entity_slug=view.kwargs.entity_slug ce_pk=view.kwargs.ce_pk %}">
                                        {% trans 'Mark Complete' %}
                                    </a>
                                {% endif %}

                                {% if customer_estimate.can_cancel %}
                                    <a class="button is-fullwidth is-danger mt-2"
                                       href="{% url 'django_ledger:customer-estimate-action-mark-as-canceled' entity_slug=view.kwargs.entity_slug ce_pk=view.kwargs.ce_pk %}">
                                        {% trans 'Cancel Estimate' %}
                                    </a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="field">
                            <label for="{{ form.markdown_notes.id_for_label }}"
                                   class="label">{{ form.markdown_notes.label }}
                                <span class="icon is-medium has-text-grey">{% icon 'logos:markdown' 16 %}</span></label>
                            {{ form.markdown_notes }}
                        </div>
                    </div>
                    <div class="column is-12">
                        <button class="button is-dark" type="submit">{% trans 'Save' %}</button>
                        <a href="{% url 'django_ledger:customer-estimate-detail' entity_slug=view.kwargs.entity_slug ce_pk=view.kwargs.ce_pk %}"
                           class="button is-dark">{% trans 'Back' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="columns is-multiline">
        <div class="column is-12">
            {% cj_item_formset_table cj_formset %}
        </div>

    </div>
{% endblock %}