{% extends 'django_ledger/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block view_content %}
    <div class="box">
        <a href="{% url 'django_ledger:account-create' entity_slug=view.kwargs.entity_slug %}"
           class="button is-primary is-outlined">{% trans 'Create Account' %}</a>
        <a href="{% url 'django_ledger:entity-dashboard' entity_slug=view.kwargs.entity_slug %}"
           class="button is-dark">{%  trans 'Back' %}</a>
        {% accounts_table accounts %}
    </div>
{% endblock %}
