{% extends 'django_ledger/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block view_content %}
    <div class="columns is-centered is-multiline">
        <div class="column is-12">
            {% include 'django_ledger/journal_entry/includes/card_journal_entry.html' with journal_entry=journal_entry %}
        </div>
        <div class="column is-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">{% trans 'Journal Entry Transactions' %}</div>
                </div>
                <div class="card-content">
                    {% journal_entry_txs_table journal_entry %}
                    <a class="button is-primary is-outlined"
                       href="{% url 'django_ledger:je-detail-txs' entity_slug=view.kwargs.entity_slug ledger_pk=view.kwargs.ledger_pk je_pk=journal_entry.uuid %}">Edit
                        Txs</a>
                    <a class="button is-dark"
                       href="{% url 'django_ledger:je-list' entity_slug=view.kwargs.entity_slug ledger_pk=view.kwargs.ledger_pk %}">Back</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}