<h1 class="is-size-2">Asset Accounts</h1>
<table class="table is-fullwidth is-striped">
    <thead>
    <tr>
        <th>Role</th>
        <th>Account Code</th>
        <th>Account Name</th>
        <th>Balance Type</th>
        <th>Active</th>
        <th>Locked</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
        {% if account.role_bs == 'assets' %}
            <tr>
                <td>{{ account.get_role_display }}</td>
                <td>{{ account.code }}</td>
                <td>{{ account.name }}</td>
                <td>{{ account.balance_type }}</td>
                <td>{% if account.active %}<span class="icon"><i class="mdi mdi-check"></i></span>{% endif %}</td>
                <td>{% if account.locked %}<span class="icon"><i class="mdi mdi-lock"></i></span>{% endif %}</td>

                <td>
                    <a class="button is-small is-dark"
                       href="{{ account.get_update_url }}">Edit</a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<h1 class="is-size-2">Liability Accounts</h1>
<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Role</th>
        <th>Account Code</th>
        <th>Account Name</th>
        <th>Balance Type</th>
        <th>Active</th>
        <th>Locked</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
        {% if account.role_bs == 'liabilities' %}
            <tr>
                <td>{{ account.get_role_display }}</td>
                <td>{{ account.code }}</td>
                <td>{{ account.name }}</td>
                <td>{{ account.balance_type }}</td>
                <td>{% if account.active %}<span class="icon"><i class="mdi mdi-check"></i></span>{% endif %}</td>
                <td>{% if account.locked %}<span class="icon"><i class="mdi mdi-lock"></i></span>{% endif %}</td>
                <td><a class="button is-small is-dark"
                       href="{{ account.get_update_url }}">Edit</a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<h1 class="is-size-2">Equity Accounts</h1>
<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Role</th>
        <th>Account Code</th>
        <th>Account Name</th>
        <th>Balance Type</th>
        <th>Active</th>
        <th>Locked</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
        {% if account.role_bs == 'equity' %}
            <tr>
                <td>{{ account.get_role_display }}</td>
                <td>{{ account.code }}</td>
                <td>{{ account.name }}</td>
                <td>{{ account.balance_type }}</td>
                <td>{% if account.active %}<span class="icon"><i class="mdi mdi-check"></i></span>{% endif %}</td>
                <td>{% if account.locked %}<span class="icon"><i class="mdi mdi-lock"></i></span>{% endif %}</td>
                <td><a class="button is-small is-dark"
                       href="{{ account.get_update_url }}">Edit</a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>