{% load django_ledger %}

<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Account Number</th>
        <th>Description</th>
        <th>Balance Type</th>
        <th>Balance</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td><h2 class="is-size-3">Assets</h2></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% for acc in assets %}
        <tr>
            <td>{{ acc.code }}</td>
            <td>{{ acc.name }}</td>
            <td>{{ acc.balance_type }}</td>
            <td>${{ acc.balance | cs_thousands }}</td>
        </tr>
    {% endfor %}
    <tr class="has-text-weight-bold">
        <td>Total Assets</td>
        <td></td>
        <td></td>
        <td>${{ total_assets | cs_thousands }}</td>
    </tr>

    <tr>
        <td><h2 class="is-size-3">Liabilities</h2></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% for acc in liabilities %}
        <tr>
            <td>{{ acc.code }}</td>
            <td>{{ acc.name }}</td>
            <td>{{ acc.balance_type }}</td>
            <td>${{ acc.balance | cs_thousands }}</td>
        </tr>
    {% endfor %}
    <tr class="has-text-weight-bold">
        <td>Total Liabilities</td>
        <td></td>
        <td></td>
        <td>${{ total_liabilities | cs_thousands }}</td>
    </tr>


    <tr class="is-primary">
        <td><h2 class="is-size-3">Capital</h2></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


    {% for acc in capital %}
        <tr>
            <td>{{ acc.code }}</td>
            <td>{{ acc.name }}</td>
            <td>{{ acc.balance_type }}</td>
            <td>${{ acc.balance | cs_thousands }}</td>
        </tr>
    {% endfor %}

    <tr class="has-text-weight-bold">
        <td>Total Capital</td>
        <td></td>
        <td></td>
        <td>${{ total_capital | cs_thousands }}</td>
    </tr>


    <tr class="has-text-weight-bold">
        <td>Retained Earnings</td>
        <td></td>
        <td></td>
        <td>${{ retained_earnings | cs_thousands }}</td>
    </tr>

    <tr class="has-text-weight-bold">
        <td>Total Equity</td>
        <td></td>
        <td></td>
        <td>${{ total_equity | cs_thousands }}</td>
    </tr>

    <tr class="has-text-weight-bold">
        <td>Total Equity + Liabilities</td>
        <td></td>
        <td></td>
        <td>${{ total_liabilities_equity | cs_thousands }}</td>
    </tr>
    </tbody>

</table>