{% load django_ledger %}
{% load i18n %}

<div class="table-container">
    <table class="table is-fullwidth is-narrow is-striped is-bordered django-ledger-table-bottom-margin-75">
        <thead>
        <tr>
            <th class="has-text-centered">Name</th>
            <th class="has-text-centered">Account Number</th>
            <th class="has-text-centered">Routing Number</th>
            <th class="has-text-centered">Type</th>
            <th class="has-text-centered">Cash Account</th>
            <th class="has-text-centered">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for bank_acc in bank_accounts %}
            <tr  class="has-text-centered">
                <td>{{ bank_acc.name }}</td>
                <td>{{ bank_acc.account_number | last_four }}</td>
                <td>{{ bank_acc.routing_number | last_four }}</td>
                <td>{{ bank_acc.get_account_type_display }}</td>
                <td>{{ bank_acc.cash_account }}</td>
                <td>
                    <div class="dropdown is-right" id="bank-action-{{ bank_acc.uuid }}">

                        <div class="dropdown-trigger">
                            <button class="button is-small is-rounded is-outlined is-dark"
                                    aria-haspopup="true"
                                    onclick="djLedger.toggleDropdown('bank-action-{{ bank_acc.uuid }}')"
                                    aria-controls="dropdown-menu">
                                <span>Actions</span>
                                <span class="icon is-small">{% icon 'bi:arrow-down' 24 %}</span>
                            </button>
                        </div>

                        <div class="dropdown-menu"
                             id="dropdown-menu-{{ bank_acc.uuid }}"
                             role="menu">
                            <div class="dropdown-content">
{#                                <a href=""#}
{#                                   class="dropdown-item has-text-weight-bold has-text-success">{% trans 'View' %}</a>#}
                                <a href="{% url 'django_ledger:bank-account-update' entity_slug=view.kwargs.entity_slug bank_account_pk=bank_acc.uuid %}"
                                   class="dropdown-item has-text-weight-bold has-text-info">{% trans 'Update' %}</a>
                            </div>
                        </div>
                    </div>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
