{% load django_ledger %}

<div class="table-container">

    <table class="table is-fullwidth is-narrow is-striped">
        <thead>
        <tr>
            <th>Bill Number</th>
            <th>Bill Date</th>
            <th>Billed To</th>
            <th>Amount</th>
            <th>Payments</th>
            <th>Is Paid?</th>
            <th>Past Due?</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for bill in bills %}
            <tr>
                <td>{{ bill.bill_number }}</td>
                <td>{{ bill.date }}</td>
                <td>{{ bill.bill_to }}</td>
                <td>${{ bill.amount_due | cs_thousands }}</td>
                <td>${{ bill.amount_paid | cs_thousands }}</td>
                <td>{% if bill.paid %}
                    <span class="icon is-small has-text-success"><i class="icon mdi mdi-check-bold"></i></span>
                {% else %}
                    <span class="icon is-small has-text-danger"><i class="icon mdi mdi-minus-circle"></i></span>
                {% endif %} </td>
                <td>{% if bill.is_past_due %}
                    <span class="icon is-small has-text-success"><i class="icon mdi mdi-check-bold"></i></span>
                {% else %}
                    <span class="icon is-small has-text-danger"><i class="icon mdi mdi-minus-circle"></i></span>
                {% endif %} </td>
                <td>
                    <a class="button is-dark is-small"
                       href="{% url 'django_ledger:bill-update' entity_slug=entity_slug bill_pk=bill.uuid %}">View</a>
                    <a class="button is-warning is-small"
                       href="{% url 'django_ledger:bill-update' entity_slug=entity_slug bill_pk=bill.uuid %}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
