{% load django_ledger %}
{% load i18n %}

<div class="table-container">
    <table class="table is-fullwidth is-narrow is-striped">
        <thead>
        <tr>
            <th>Invoice Number</th>
            <th>Invoice Date</th>
            <th>Invoiced To</th>
            <th>Amount</th>
            <th>Payments</th>
            <th>Is Paid?</th>
            <th>Past Due?</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.invoice_number }}</td>
                <td>{{ invoice.date }}</td>
                <td>{{ invoice.customer.customer_name }}</td>
                <td>${{ invoice.amount_due | cs_thousands }}</td>
                <td>${{ invoice.amount_paid | cs_thousands }}</td>
                <td>{% if invoice.paid %}
                    <span class="icon is-small has-text-success">{% icon 'bi:check-circle-fill' 24 %}</span>
                {% else %}
                    <span class="icon is-small has-text-danger">{% icon 'clarity:no-access-solid' 24 %}</span>
                {% endif %} </td>
                <td>{% if invoice.is_past_due %}
                    <span class="icon is-small has-text-success">{% icon 'bi:check-circle-fill' 24 %}</span>
                {% else %}
                    <span class="icon is-small has-text-danger">{% icon 'clarity:no-access-solid' 24 %}</span>
                {% endif %} </td>
                <td>
                    {# todo: Develop an Invoice Detail View... #}
                    <div class="dropdown is-right" id="invoice-action-{{ invoice.uuid }}">
                        <div class="dropdown-trigger">
                            <button class="button is-small is-rounded is-outlined is-dark"
                                    aria-haspopup="true"
                                    onclick="djLedger.toggleDropdown('invoice-action-{{ invoice.uuid }}')"
                                    aria-controls="dropdown-menu">
                                <span>Actions</span>
                                <span class="icon is-small">
                                        {% icon 'bi:arrow-down' 24 %}
                                      </span>
                            </button>
                        </div>

                        <div class="dropdown-menu" id="dropdown-menu-{{ invoice.uuid }}" role="menu">
                            <div class="dropdown-content">
                                <a href="{% url 'django_ledger:invoice-update' entity_slug=entity_slug invoice_pk=invoice.uuid %}"
                                   class="dropdown-item has-text-success">View</a>

                                {% if not invoice.paid %}
                                    {# MARK AS PAID MODAL START #}
                                    <div id="djledger-invoice-as-paid-modal-{{ invoice.uuid }}" class="modal">

                                        <form name="form-invoice-mark-paid-{{ invoice.uuid }}"
                                              method="post"
                                              action="{% url 'django_ledger:invoice-mark-paid' entity_slug=entity_slug invoice_pk=invoice.uuid %}">
                                            {% csrf_token %}
                                        </form>

                                        <div class="modal-background"></div>
                                        <div class="modal-content">
                                            {#  todo: add more context to the modal card... #}
                                            <div class="card">
                                                <div class="card-content">
                                                    <p class="is-size-4 has-font-weight-light">
                                                        Are you sure you want to mark
                                                        invoice {{ invoice.invoice_number }} as
                                                        paid?
                                                    </p>
                                                </div>
                                                <div class="card-footer">
                                                    <a onclick="djLedger.closeModal('djledger-invoice-as-paid-modal-{{ invoice.uuid }}')"
                                                       class="card-footer-item has-background-success-light">{% trans 'Cancel' %}</a>
                                                    <a onclick="djLedger.submitForm(
                                                            'form-invoice-mark-paid-{{ invoice.uuid }}',
                                                            'djledger-invoice-as-paid-modal-{{ invoice.uuid }}')"
                                                       class="card-footer-item has-background-info-light">{% trans 'Mark As Paid' %}</a>
                                                </div>
                                            </div>
                                        </div>

                                        <button class="modal-close is-large"
                                                aria-label="close"
                                                onclick="djLedger.closeModal('djledger-invoice-as-paid-modal-{{ invoice.uuid }}')"></button>
                                    </div>
                                    {# MARK AS PAID MODAL END #}

                                    <a onclick="djLedger.showModal('djledger-invoice-as-paid-modal-{{ invoice.uuid }}')"
                                       class="dropdown-item has-text-weight-bold has-text-info">{% trans 'Mark as Paid' %}</a>
                                {% endif %}
                                <a href="{% url 'django_ledger:invoice-delete' entity_slug=entity_slug invoice_pk=invoice.uuid %}"
                                   class="dropdown-item has-text-weight-bold has-text-danger">{% trans ' Delete' %}</a>

                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
