{% load django_ledger %}

<div class="table-container">
    <table class="table is-fullwidth is-narrow is-striped django-ledger-table-bottom-margin-150">
        <thead>
        <tr class="has-text-centered">
            <th>Description</th>
            <th>Activity</th>
            <th>JE Date</th>
            <th>Posted</th>
            <th>Locked</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for je in jes %}
            <tr class="has-text-centered">
                <td>{{ je.description }}</td>
                <td>{{ je.get_activity_display }}</td>
                <td>{{ je.date }}</td>
                <td>
                    {% if je.posted %}
                        <span class="icon has-text-success">{% icon 'ant-design:check-circle-filled' 24 %}</span>
                    {% else %}
                        <span class="icon is-small has-text-danger">{% icon 'maki:roadblock-11' 24 %}</span>
                    {% endif %}
                </td>
                <td>
                    {% if je.locked %}
                        <span class="icon has-text-success-dark">
                            {% icon 'bi:lock-fill' 24 %}
                        </span>
                    {% else %}
                        <span class="icon has-text-danger-dark">
                            {% icon 'bx:bx-lock-open-alt' 24 %}
                        </span>
                    {% endif %}
                </td>
                <td>{{ je.created | timesince }}</td>
                <td>
                    <div class="dropdown is-right is-hoverable"
                         id="je-action-{{ je.uuid }}">
                        <div class="dropdown-trigger">
                            <button class="button is-small is-rounded is-outlined is-dark"
                                    aria-haspopup="true"
                                    aria-controls="dropdown-menu">
                                <span>Actions</span>
                                <span class="icon is-small">
                                        {% icon 'bi:arrow-down' 24 %}
                                      </span>
                            </button>
                        </div>

                        <div class="dropdown-menu"
                             id="dropdown-menu-{{ je.uuid }}"
                             role="menu">
                            <div class="dropdown-content">
                                <a class="dropdown-item"
                                   href="{% url 'django_ledger:je-update' entity_slug=entity_slug ledger_pk=ledger_pk je_pk=je.uuid %}">Edit</a>
                                <a class="dropdown-item"
                                   href="{% url 'django_ledger:je-detail' entity_slug=entity_slug ledger_pk=ledger_pk je_pk=je.uuid %}">View</a>
                                <a class="dropdown-item"
                                   href="{% url 'django_ledger:txs-journal-entry' entity_slug=entity_slug ledger_pk=ledger_pk je_pk=je.uuid %}">Txs</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
