<div class="table-container">
    <table class="table is-fullwidth is-narrow is-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Detail</th>
            <th>Balance Sheet</th>
            <th>Income Statement</th>
            <th>Posted</th>
            <th>Locked</th>
            <th>Created</th>
            <th>Last Updated</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ledger in ledgers %}
            <tr>
                <td>{{ ledger.name }}</td>
                <td><a class="button is-info is-small is-outlined"
                       href="{% url 'django_ledger:je-list' entity_slug=entity_slug ledger_pk=ledger.uuid %}">Journal
                    Entries</a></td>
                <td><a class="button is-info is-small is-outlined"
                       href="{% url 'django_ledger:ledger-bs' entity_slug=entity_slug ledger_pk=ledger.uuid %}">Balance
                    Sheet</a></td>
                <td><a class="button is-info is-small is-outlined"
                       href="{% url 'django_ledger:ledger-ic' entity_slug=entity_slug ledger_pk=ledger.uuid %}">Income
                    Statement</a></td>
                <td>{% if ledger.posted %}<span class="icon"><i class="mdi mdi-check"></i></span>{% endif %}</td>
                <td>{% if ledger.locked %}<span class="icon"><i class="mdi mdi-lock"></i></span>{% endif %}</td>
                <td>{{ ledger.created | timesince }}</td>
                <td>{{ ledger.updated | timesince }}</td>
                <td>
                    <a class="button is-small is-success"
                       href="{% url 'django_ledger:ledger-update' entity_slug=entity_slug ledger_pk=ledger.uuid %}">View</a>
                    <a class="button is-info is-small"
                       href="{% url 'django_ledger:ledger-update' entity_slug=entity_slug ledger_pk=ledger.uuid %}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
