{% load django_ledger %}
{% now "Y" as current_year %}


<div class="card">
    <div class="card-content">
        <p class="title has-text-weight-light">
            <span class="icon is-medium">{% icon "ic:baseline-business" 36 %}</span>{{ entity.name }}
        </p>
        <p class="subtitle">{{ entity.address_1 }}</p>
        <p>Created: {{ entity.created | timesince }} ago</p>
    </div>
    <footer class="card-footer">
        <a href="{{ entity.get_absolute_url }}" class="card-footer-item">Dashboard</a>
        <a href="{{ entity.get_manage_url }}" class="card-footer-item has-text-info">Manage</a>
        <a href="{{ entity.get_delete_url }}" class="card-footer-item has-text-danger">Delete</a>
    </footer>
</div>