<div class="box">
    <aside class="menu">
        {% if entity %}
            <p class="menu-label">{{ entity.name }}</p>
        {% endif %}
        <ul class="menu-list">
            <li>
                <a href="{% url 'django_ledger:entity-dashboard' entity_slug=view.kwargs.entity_slug %}">Dashboard</a>
            </li>
            <li>
                <a>Manage Your Lists</a>
                <ul>
                    <li><a href="{% url 'django_ledger:vendor-list' entity_slug=view.kwargs.entity_slug %}">Vendors</a>
                    </li>
                    <li>
                        <a href="{% url 'django_ledger:customer-list' entity_slug=view.kwargs.entity_slug %}">Customers</a>
                    </li>
                    <li>
                        <a href="{% url 'django_ledger:bank-account-list' entity_slug=view.kwargs.entity_slug %}">Banks</a>
                    </li>
                    <li><a href="{% url 'django_ledger:bill-list' entity_slug=view.kwargs.entity_slug %}">Bills</a></li>
                    <li>
                        <a href="{% url 'django_ledger:invoice-list' entity_slug=view.kwargs.entity_slug %}">Invoices</a>
                    </li>
                </ul>
            </li>
            <li>
                <a>Reports</a>
                <ul>
                    <li><a href="{% url 'django_ledger:entity-bs' entity_slug=view.kwargs.entity_slug %}">Balance
                        Sheet</a></li>
                    <li><a href="{% url 'django_ledger:entity-ic' entity_slug=view.kwargs.entity_slug %}">Income
                        Statement</a></li>
                </ul>
            </li>
            <li>
                <a>Manage Entity</a>
                <ul>
                    {# todo: change CoA URL not to require CoA Slug #}
                    {% if entity %}
                        <li><a href="{{ entity.get_chart_of_accounts_url }}">Chart of Accounts</a></li>
                    {% endif %}
                    <li><a href="{% url 'django_ledger:ledger-list' entity_slug=view.kwargs.entity_slug %}">Ledgers</a>
                    </li>
                    <li><a href="{% url 'django_ledger:data-import-jobs-list' entity_slug=view.kwargs.entity_slug %}">Import
                        Data</a></li>
                    <li><a>Entity Settings</a></li>
                    {#                                <li><a>Collaborators</a></li>#}
                    {#                <li><a>Settings</a></li>#}
                </ul>
            </li>
        </ul>

        <p class="menu-label">Administration</p>
        <ul class="menu-list">
            <li><a href="{% url 'django_ledger:home' %}">My Entities</a></li>
            {#            <li><a>My Messages</a></li>#}
            <li><a href="{% url 'django_ledger:entity-update' entity_slug=view.kwargs.entity_slug %}">Settings</a></li>
        </ul>

    </aside>
</div>
