{% load static %}
{% load django_ledger %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://djetler.com">
                <img src="{% static 'django_ledger/logo/djetler-logo-only@0.5x.png' %}" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'django_ledger:dashboard' %}">Home</a>
                {% if user.is_staff or user.is_superuser %}
                    <a class="navbar-item" href="/admin">Admin</a>
                {% endif %}
            </div>
            <div class="navbar-end">
                <div class="navbar-item">

                    {# todo: nice tag to have but find a better way to reduce stress on the DB (qs on every page load) #}
                    {% entity_choice_form %}

                </div>
            </div>

        </div>
    </div>
</nav>