{% load static %}
{% load django_ledger %}
{% load cache %}
{% load i18n %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">

            <a class="navbar-item" href="{% url 'django_ledger:home' %}">
                <img src="{% static 'django_ledger/logo/django-ledger-logo_1.png' %}"
                     height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">

                <a class="navbar-item" href="{% url 'django_ledger:home' %}">{% trans 'Home' %}</a>
                {% if user.is_superuser and user.is_authenticated %}
                    <a class="navbar-item" href="/admin">{% trans 'Admin' %}</a>
                {% endif %}

            </div>
            <div class="navbar-end">

                {% if view.kwargs.entity_slug %}

                    <div class="navbar-item">
                        <span class="is-italic has-text-weight-semibold">
                            <small>{% trans 'Date Filter' %}: {% current_end_date_filter %}</small></span>
                    </div>

                    {% date_filter %}

                {% endif %}

                <div class="navbar-item">
                    {# todo: nice tag to have but find a better way to reduce stress on the DB (qs on every page load) #}
                    {% default_entity %}
                </div>
                <div class="navbar-item">
                    <a href="{% url 'django_ledger:logout' %}" class="button is-small is-danger is-outlined">Logout</a>
                </div>
            </div>

        </div>
    </div>
</nav>