{% load static %}
{% load django_ledger %}
{% load cache %}
{% load i18n %}
{% now "Y" as current_year %}

<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'django_ledger:home' %}">
                <img src="{% static 'django_ledger/logo/django-ledger-logo_1.png' %}" height="28">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="djl-navbar-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="djl-navbar-menu" class="navbar-menu">
            {% navigation_menu 'mobile' %}
            <div class="navbar-end">
                {% if view.kwargs.entity_slug %}
                    <div class="navbar-item">
                        <span class="is-italic has-text-weight-semibold">
                            <small>{% trans 'Date Filter' %}: {% get_current_end_date_filter %}</small></span>
                    </div>
                    {% date_filter_form %}
                {% endif %}

                <div class="navbar-item">
                    {% default_entity %}
                </div>
                <div class="navbar-item">
                    <a href="{% url 'django_ledger:logout' %}" class="button is-small is-danger is-outlined">
                        {% trans 'Logout' %}
                    </a>
                </div>
                <div class="navbar-item">
                    {% feedback_button %}
                </div>
                <div class="navbar-item">v{% current_version %}</div>
            </div>
        </div>
    </div>

</nav>