{% extends 'django_ledger/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block view_content %}

    <div class="columns is-centered">
        <div class="column is-6">
            <form action="{{ form_action_url }}"
                  method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-content has-text-centered">
                        <p class="title has-text-weight-light">Are you sure you want to void
                            Bill {{ bill.bill_number }}?</p>
                    </div>
                    <div class="card-content has-text-centered">
                        <p class="subtitle">All transactions associated with this Bill will be reversed as of today
                            {% now "jS F Y" %}.</p>
                    </div>
                    <div class="card-content has-text-centered">
                        <a href="{% url 'django_ledger:bill-detail' entity_slug=view.kwargs.entity_slug bill_pk=bill.uuid %}"
                           class="button is-primary">{% trans 'Go Back' %}</a>
                        <button type="submit" class="button is-warning">{% trans 'Void' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}