{% extends 'django_ledger/layouts/content_layout_1.html' %}
{% load i18n %}
{% load django_ledger %}

{% block view_content %}
    <form action="{% url 'django_ledger:customer-job-update' entity_slug=view.kwargs.entity_slug customer_job_pk=view.kwargs.customer_job_pk %}"
          method="post">
        {% csrf_token %}
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <div class="columns is-multiline">
            <div class="column is-12">
                <div class="columns is-multiline">
                    <div class="column is-6">
                        {% include 'django_ledger/includes/card_customer.html' with  customer=object.customer %}
                    </div>
                    <div class="column is-6">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-header-title">{% trans 'Customer Job' %}</p>
                            </div>
                            <div class="card-content">
                                <div class="field">
                                    <label for="{{ form.status.id_for_label }}"
                                           class="label">{{ form.status.label }}</label>
                                    <div class="control">{{ form.status }}</div>
                                </div>
                                <h2 class="has-text-weight-bold is-size-3">{% trans 'Estimated Revenue' %}:
                                    {% currency_symbol %}{{ customer_job.revenue_estimate }}</h2>
                                <br>
                                <h3 class="has-text-weight-light is-italic is-size-5">
                                    {% trans 'Labor Cost' %}:
                                    {% currency_symbol %}{{ customer_job.labor_estimate }}</h3>
                                <h3 class="has-text-weight-light is-italic is-size-5">
                                    {% trans 'Materials Cost' %}:
                                    {% currency_symbol %}{{ customer_job.material_estimate }}</h3>
                                <h3 class="has-text-weight-light is-italic is-size-5">
                                    {% trans 'Equipment Cost' %}:
                                    {% currency_symbol %}{{ customer_job.equipment_estimate }}</h3>
                                <h2 class="is-size-4">{% trans 'Total Cost' %}:
                                    {% currency_symbol %}{{ customer_job.cost_estimate }}</h2>
                                <h1 class="is-size-2 has-text-info">{% trans 'Profit Estimate' %}:
                                    {% currency_symbol %}{{ customer_job.profit_estimate }}</h1>
                                <h2 class="is-size-4 has-text-weight-light is-italic">
                                    {% trans 'Estimated Gross Margin' %}: {{ customer_job.gross_margin_percent_estimate | floatformat:2 }}%</h2>

                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="field">
                            <label for="{{ form.markdown_notes.id_for_label }}"
                                   class="label">{{ form.markdown_notes.label }}
                                <span class="icon is-medium has-text-grey">{% icon 'logos:markdown' 16 %}</span></label>
                            {{ form.markdown_notes }}
                        </div>
                    </div>
                    <div class="column is-12">
                        <button class="button is-dark" type="submit">{% trans 'Save' %}</button>
                        <a href="{% url 'django_ledger:customer-job-detail' entity_slug=view.kwargs.entity_slug customer_job_pk=view.kwargs.customer_job_pk %}"
                           class="button is-dark">{% trans 'Back' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="columns is-multiline">
        <div class="column is-12">
            {% cj_item_formset_table cj_formset %}
        </div>

    </div>
{% endblock %}