{% extends 'django_ledger/layouts/content_layout_1.html' %}
{% load django_ledger %}
{% load trans from i18n %}

{% block view_content %}

    <div class="columns is-multiline">
        <div class="column is-12">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">{% trans 'Revenue Estimate' %}:
                        <p class="title" id="djl-cj-detail-estimated-revenue">
                            {% currency_symbol %}{{ customer_job.estimated_revenue  | absolute | currency_format }}</p>
                    </div>
                </div>

                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">{% trans 'Cost Estimate' %}:
                        <p class="title" id="djl-cj-detail-estimated-cost">
                            {% currency_symbol %}{{ customer_job.cost_estimate  | absolute | currency_format }}</p>
                    </div>
                </div>

                <div class="level-item has-text-centered">
                    {#                            <div>#}
                    {#                                <p class="heading">Prepaid Account:#}
                    {#                                    <a href="{% url 'django_ledger:account-detail' account_pk=bill.prepaid_account.uuid entity_slug=view.kwargs.entity_slug %}"#}
                    {#                                       class="has-text-danger">{{ bill.prepaid_account.code }}</a>#}
                    {#                                </p>#}
                    {#                                <p class="title has-text-success" id="djl-bill-detail-amount-prepaid">#}
                    {#                                    {% currency_symbol %}{{ bill.get_amount_prepaid | currency_format }}</p>#}
                    {#                            </div>#}
                </div>
                <div class="level-item has-text-centered">
                    {#                            <div>#}
                    {#                                <p class="heading">Unearned Account:#}
                    {#                                    <a href="{% url 'django_ledger:account-detail' account_pk=bill.unearned_account.uuid entity_slug=view.kwargs.entity_slug %}"#}
                    {#                                       class="has-text-danger">{{ bill.unearned_account.code }}</a>#}
                    {#                                </p>#}
                    {#                                <p class="title has-text-danger" id="djl-bill-detail-amount-unearned">#}
                    {#                                    {% currency_symbol %}{{ bill.get_amount_unearned | currency_format }}</p>#}
                    {#                            </div>#}
                </div>
                <div class="level-item has-text-centered">
                    {#                            <div>#}
                    {#                                <p class="heading">Accrued {{ bill.get_progress | percentage }}</p>#}
                    {#                                <p class="title">#}
                    {#                                    {% currency_symbol %}{{ bill.get_amount_earned | currency_format }}</p>#}
                    {#                            </div>#}
                </div>
            </nav>
        </div>


        <div class=" column is-12">
            {% include 'django_ledger/includes/card_markdown.html' with style='card_1'  title='Notes' notes_html=object.notes_html %}
        </div>
    </div>

{% endblock %}