{% extends 'django_ledger/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block view_content %}
    <div class="container">
        <div class="columns">
            <div class="column">
                {% include 'django_ledger/closing_entry/includes/card_closing_entry.html' with closing_entry_model=object %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                {% closing_entry_txs_table closing_entry_txs_qs %}
            </div>
        </div>

    </div>
{% endblock %}