{% now "Y" as current_year %}
{% load icon from django_ledger %}
{% load trans from i18n %}

<div class="table-container">
    <table class="table is-fullwidth is-narrow is-striped django-ledger-table-bottom-margin-75">
        <thead>
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Journal Entries' %}</th>
            <th>{% trans 'Balance Sheet' %}</th>
            <th>{% trans 'Income Statement' %}</th>
            <th>{% trans 'Cash Flow Statement' %}</th>
            <th>{% trans 'Posted' %}</th>
            <th>{% trans 'Locked' %}</th>
            <th>{% trans 'Actions' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for ledger in ledgers %}
            <tr>
                <td>{{ ledger.name }}</td>
                <td><a class="button is-info is-small is-outlined"
                       href="{% url 'django_ledger:je-list' entity_slug=entity_slug ledger_pk=ledger.uuid %}">
                    {% trans 'Journal Entries' %}
                </a></td>
                <td><a class="button is-info is-small is-outlined"
                       href="{% url 'django_ledger:ledger-bs-year' entity_slug=entity_slug ledger_pk=ledger.uuid year=current_year %}">
                    {% trans 'Balance Sheet' %}
                </a></td>
                <td><a class="button is-info is-small is-outlined"
                       href="{% url 'django_ledger:ledger-ic-year' entity_slug=entity_slug ledger_pk=ledger.uuid year=current_year %}">
                    {% trans 'Income Statement' %}
                </a></td>
                <td><a class="button is-info is-small is-outlined"
                       href="{% url 'django_ledger:ledger-cf-year' entity_slug=entity_slug ledger_pk=ledger.uuid year=current_year %}">
                    {% trans 'Cash Flow Statement' %}
                </a></td>
                <td>
                    {% if ledger.posted %}
                        <span class="icon has-text-success">{% icon 'ant-design:check-circle-filled' 24 %}</span>
                    {% else %}
                        <span class="icon is-small has-text-danger">{% icon 'maki:roadblock-11' 24 %}</span>
                    {% endif %}
                </td>
                <td>
                    {% if ledger.locked %}
                        <span class="icon has-text-success">{% icon 'bi:lock-fill' 24 %}</span>
                    {% else %}
                        <span class="icon has-text-danger">{% icon 'bx:bx-lock-open-alt' 24 %}</span>
                    {% endif %}
                </td>
                <td>
                    <div class="dropdown is-right is-hoverable"
                         id="ledger-action-{{ ledger.uuid }}">
                        <div class="dropdown-trigger">
                            <button class="button is-small is-rounded is-outlined is-dark"
                                    aria-haspopup="true"
                                    aria-controls="dropdown-menu">
                                <span>{% trans 'Actions' %}</span>
                                <span class="icon is-small">{% icon 'bi:arrow-down' 24 %}</span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu-{{ ledger.uuid }}" role="menu">
                            <div class="dropdown-content">
                                <a href="{% url 'django_ledger:ledger-update' entity_slug=entity_slug ledger_pk=ledger.uuid %}"
                                   class="dropdown-item has-text-success">{% trans 'Edit' %}</a>
                                {% if ledger.can_lock %}
                                    <a href="{% url 'django_ledger:ledger-action-lock' entity_slug=entity_slug ledger_pk=ledger.uuid %}"
                                       class="dropdown-item has-text-info has-text-weight-bold">{% trans 'Lock' %}</a>
                                {% endif %}
                                {% if ledger.can_unlock %}
                                    <a href="{% url 'django_ledger:ledger-action-unlock' entity_slug=entity_slug ledger_pk=ledger.uuid %}"
                                       class="dropdown-item has-text-warning has-text-weight-bold">{% trans 'UnLock' %}</a>
                                {% endif %}
                                {% if ledger.can_delete %}
                                    <a href="{% url 'django_ledger:ledger-delete' entity_slug=entity_slug ledger_pk=ledger.uuid %}"
                                       class="dropdown-item has-text-danger has-text-weight-bold">{% trans 'Delete' %}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
