{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="box">

                        <a href="{% url 'django_ledger:account-create' entity_slug=view.kwargs.entity_slug coa_slug=view.kwargs.coa_slug %}"
                           class="button is-primary is-outlined">Create Account</a>
                        <a href="{% url 'django_ledger:entity-dashboard' entity_slug=view.kwargs.entity_slug %}"
                           class="button is-dark">Back</a>
                        {% accounts_table %}

                    </div>


                </div>
            </div>

        </div>
    </section>
{% endblock %}
