{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block content %}
    <section class="section">
        <div class="container is-fluid">
            <div class="columns">
{#                <div class="column is-3 is-hidden-mobile is-hidden-tablet-only">#}
{#                    {% include 'django_ledger/includes/menu.html' %}#}
{#                </div>#}
                <div class="column">
                    <div class="box">

                        <a href="{% url 'django_ledger:account-create' entity_slug=view.kwargs.entity_slug %}"
                           class="button is-primary is-outlined">Create Account</a>
                        <a href="{% url 'django_ledger:entity-dashboard' entity_slug=view.kwargs.entity_slug %}"
                           class="button is-dark">Back</a>
                        {% accounts_table %}

                    </div>


                </div>
            </div>

        </div>
    </section>
{% endblock %}
