{% load static %}
{% load django_ledger %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Djetler | {{ page_title | title }}</title>
    <script src="{% static 'django_ledger/bundle/styles.bundle.js' %}"></script>
</head>

<body>

{% block nav %}
    {% include 'django_ledger/includes/nav.html' %}
{% endblock %}

{% block header %}
    {% include 'django_ledger/includes/page_header.html' with header_title=header_title %}
{% endblock %}

{% block breadcrumbs %}
    {#    {% include 'django_ledger/includes/breadcrumbs.html' %}#}
{% endblock %}

{% block content %}{% endblock %}

{% block script_bottom %}
    <script src="{% static 'django_ledger/bundle/djetler.bundle.js' %}"></script>
{% endblock %}

</body>
</html>