{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block content %}

    <section class="section">
        <div class="container">
            <form action="{% url 'django_ledger:bill-create' entity_slug=view.kwargs.entity_slug %}"
                  method="post">
                <div class="columns is-multiline is-centered">
                    {% csrf_token %}

                    <div class="column is-6">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-header-title">{% trans 'Vendor Information' %}</p>
                            </div>
                            <div class="card-content">

                                <div class="field">
                                    <div class="control">
                                        {{ form.vendor }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-header-title">{% trans 'Bill Amount & Terms' %}</p>
                            </div>
                            <div class="card-content">
                                <div class="field">
                                    <div class="control">
                                        {{ form.xref }}
                                    </div>
                                </div>


                                <div class="field">
                                    <div class="control">
                                        {{ form.date }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        {{ form.amount_due }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="{{ form.terms.id_for_label }}"
                                           class="label is-small">{{ form.terms.label }}</label>
                                    <div class="control">
                                        {{ form.terms }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-header-title">{% trans 'Connected Accounts' %}</p>
                            </div>
                            <div class="card-content">


                                <div class="field">
                                    <label for="{{ form.terms.cash_account }}"
                                           class="label is-small">{{ form.cash_account.label }}</label>
                                    <div class="control">
                                        {{ form.cash_account }}
                                    </div>
                                </div>
                                <div class="field">

                                    <label for="{{ form.terms.receivable_account }}"
                                           class="label is-small">{{ form.receivable_account.label }}</label>
                                    <div class="control">
                                        {{ form.receivable_account }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="{{ form.terms.payable_account }}"
                                           class="label is-small">{{ form.payable_account.label }}</label>
                                    <div class="control">
                                        {{ form.payable_account }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="{{ form.terms.earnings_account }}"
                                           class="label is-small">{{ form.earnings_account.label }}</label>
                                    <div class="control">
                                        {{ form.earnings_account }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="column is-4">
                        <button type="submit"
                                class="button is-primary is-outlined is-fullwidth djetler_my_1">Create
                        </button>
                        <a href="{% url 'django_ledger:invoice-list' entity_slug=view.kwargs.entity_slug %}"
                           class="button is-small is-dark is-fullwidth">Back</a>
                    </div>

                </div>
            </form>
        </div>
    </section>

{% endblock %}




