{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}


{% block content %}

    <section class="section">
        <div class="container">

            <div class="columns is-centered">
                <div class="column is-10-tablet">
                    <div class="box">
                        <form action="{% url 'django_ledger:bill-create' entity_slug=view.kwargs.entity_slug %}"
                              method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit"
                                    class="button is-primary is-outlined is-fullwidth djetler_my_1">Create
                            </button>
                            <a href="{% url 'django_ledger:bill-list' entity_slug=view.kwargs.entity_slug %}"
                               class="button is-small is-dark is-fullwidth">Back</a>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}




