{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <section class="section">
        <div class="container">

            <div class="columns is-centered">
                <div class="column is-8-tablet is-6-desktop">
                    <div class="box">
                        <form action="{{ coa.get_update_url }}" method="post">
                            {% csrf_token %}
                            <div class="field">
                                <label for="{{ form.slug.id_for_label }}"
                                       class="label">{{ form.slug.label }}</label>
                                <div class="control">{{ form.slug }}</div>
                            </div>
                            <div class="field">
                                <label for="{{ form.name.id_for_label }}"
                                       class="label">{{ form.name.label }}</label>
                                <div class="control">{{ form.name }}</div>
                            </div>
                            <div class="field">
                                <label for="{{ form.description.id_for_label }}"
                                       class="label">{{ form.description.label }}</label>
                                <div class="control">{{ form.description }}</div>
                            </div>
                            <button class="button is-small is-info is-normal is-fullwidth"
                                    type="submit">Update</button>
                            <a class="button is-small is-dark is-fullwidth is-outlined djetler_my_1"
                               href="{% url 'django_ledger:entity-detail' entity_slug=view.kwargs.entity_slug %}"
                               type="submit">Back</a>                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}



