<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Entities</title>
    <title>DJ Ledger - CoA Assignments</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Django Ledger CoA Assignments</h1>
    </div>
</section>
<section class="section">
    <div class="container">

        <div class="columns">
            <div class="column">
                <form action="{{ assignments.get_absolute_url }}" method="post">
                    <button type="submit" class="button is-light">Save</button>
                    {% csrf_token %}
                    <table>
                        {{ formset.as_table }}
                    </table>
                </form>
                {#                <ul>#}
                {#                    {% for a in assignments %}#}
                {#                        <li>{{ a }}</li>#}
                {#                    {% endfor %}#}
                {#                </ul>#}
            </div>
            {#            <div class="column">#}
            {#                <h1 class="is-size-3">Managed Entities</h1>#}
            {#                <ul>#}
            {#                    {% for entity in object_list %}#}
            {#                        {% if entity.user_role == 'managed' %}#}
            {#                            <li>{{ entity.name }} <a class="button is-light is-small"#}
            {#                                                     href="{{ entity.get_absolute_url }}">View</a></li>#}
            {#                        {% endif %}#}
            {#                    {% endfor %}#}
            {#                </ul>#}
            {##}
            {#            </div>#}
        </div>

    </div>
</section>
</body>
</html>