<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ coa.name }}</title>
    <title>DJ Ledger - Entities</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            {{ coa.name }} Hello
        </h1>
        <p class="subtitle">
            {{ coa.description }}
        </p>
    </div>
</section>
<section class="section">
    <div class="container">

        <div class="columns">
            <div class="column">
                <h1 class="is-size-3">Accounts</h1>
                <a class="button is-light"
                   href="{% url 'django_ledger:account-create' entity_slug=view.kwargs.entity_slug coa_slug=view.kwargs.coa_slug %}">Add
                    Account</a>
                {{ accounts_formset.as_p }}
                <ul>
                    {% for acc in coa.accounts.all %}
                        <li>{{ acc }} <a class="button is-small is-light"
                                         href="{{ acc.get_update_url }}">Update</a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>

    </div>
</section>
</body>
</html>