{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

    <section class="hero is-small is-success is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-weight-light">{% trans 'My Entities' %}</h1>
                <h2 class="subtitle">Subtitle</h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-12">
                    <h1 class="is-size-1 has-text-weight-light">{% trans 'My Entities' %}</h1>
                    <hr>
                </div>
                <div class="column is-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">{% trans 'My Entities' %}</div>
                        </div>
                        <div class="card-content content">
                            <ul>
                                {% for entity in entities %}
                                    <li>{{ entity.name }} <a href="{{ entity.get_absolute_url }}"
                                                             class="button is-small">View</a></li>
                                {% endfor %}
                            </ul>
                            <a href="{% url 'django_ledger:entity-create' %}"
                               class="button is-fullwidth is-primary is-outlined">New Entity</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}