{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="box">
                        <a class="button is-dark"
                           href="{% url 'django_ledger:data-import-jobs-list' entity_slug=view.kwargs.entity_slug %}">
                            {% trans 'Back' %}
                        </a>

                        {% data_import_job_txs_table %}

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}