{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block content %}

    <section class="section">
        <div class="container">

            <div class="columns is-multiline">

                {% if messages %}
                    <div class="column">
                        {% for msg in messages %}
                            <div class="notification {{ msg.tags }}">
                                <button class="delete"></button>
                                {{ msg }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="column is-12">
                    <div class="box">
                        <div class="columns is-multiline">
                            <div class="column is-12">
                                <a class="button is-dark"
                                   href="{% url 'django_ledger:data-import-jobs-list' entity_slug=view.kwargs.entity_slug %}">
                                    {% trans 'Back' %}
                                </a>
                            </div>
                            <form action="{{ view.request.path }}" method="post">

                                <div class="column is-12">
                                    {{ staged_txs_formset.non_form_errors }}
                                    {{ staged_txs_formset.management_form }}
                                </div>

                                <div class="column is-12">
                                    {% csrf_token %}
                                    <div class="table-container">
                                        <table class="table is-fullwidth">
                                            <thead>
                                            <tr class="has-text-centered">
                                                <th>Dated Posted</th>
                                                <th>Description</th>
                                                <th>Amount</th>
                                                <th>Account</th>
                                                <th>Tx</th>
                                                <th>Import</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for txf in staged_txs_formset %}
                                                <tr>

                                                    {% for hidden_field in txf.hidden_fields %}
                                                        {{ hidden_field }}
                                                    {% endfor %}

                                                    <td>{{ txf.date_posted.value }}</td>
                                                    <td>{{ txf.name.value }}</td>
                                                    <td class="{% if txf.amount.value < 0 %}has-text-danger{% endif %}">
                                                        ${{ txf.amount.value }}</td>
                                                    <td>{{ txf.earnings_account }}</td>
                                                    <td>{{ txf.tx }}</td>
                                                    <td>{{ txf.import_tx }}</td>
                                                    <td>
                                                        <a class="button is-small is-danger is-outlined"
                                                           href="">Revert</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                                <div class="column is-12 has-text-centered">
                                    <button class="button is-primary is-outlined">Save</button>
                                    <a class="button is-dark"
                                       href="{% url "django_ledger:data-import-jobs-list" entity_slug=entity_slug %}">Done</a>
                                </div>

                            </form>

                        </div>


                    </div>
                </div>

            </div>

        </div>
    </section>
{% endblock %}