{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block content %}

    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Financial Overview</h1>
                <h2 class="subtitle">
                    <span class="icon"><i class="icon mdi mdi-domain"></i></span>{{ entity.name }}</h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-multiline">

                <div class="column is-6-tablet">
                    <div class="box content djetler-box-green">
                        <h2 class="has-text-centered has-text-weight-light">{% trans 'Assets' %}</h2>
                        <h1 class="has-text-centered">${{ tx_digest.groups.GROUP_ASSETS | cs_thousands }}</h1>
                        <h2 class="has-text-centered has-text-weight-light">{% trans 'Liabilities' %}</h2>
                        <h1 class="has-text-centered">
                            ${{ tx_digest.groups.GROUP_LIABILITIES | cs_thousands }}</h1>
                        <h2 class="has-text-centered has-text-weight-light">{% trans 'Equity' %}</h2>
                        <h1 class="has-text-centered">${{ tx_digest.groups.GROUP_EQUITY | cs_thousands }}</h1>
                        <h4 class="has-text-centered has-text-weight-light">{% trans 'Cash' %}</h4>
                        <h3 class="has-text-centered">${{ tx_digest.roles.ASSET_CA_CASH | cs_thousands }}</h3>
                    </div>
                </div>

                <div class="column is-6-tablet">
                    <div class="box content djetler-box-yellow">
                        <h2 class="has-text-centered has-text-weight-light">{% trans 'Revenue' %}</h2>
                        <h1 class="has-text-centered">${{ tx_digest.groups.GROUP_INCOME | cs_thousands }}</h1>
                        <h2 class="has-text-centered has-text-weight-light">{% trans 'Expenses' %}</h2>
                        <h1 class="has-text-centered">
                            ${{ tx_digest.groups.GROUP_EXPENSES | reverse_sing | cs_thousands }}</h1>
                        <h2 class="has-text-centered has-text-weight-light">{% trans 'Earnings (Loss)' %}</h2>
                        <h1 class="has-text-centered">${{ tx_digest.groups.GROUP_EARNINGS | cs_thousands }}</h1>
                        <h4 class="has-text-centered has-text-weight-light">{% trans 'As Of' %}</h4>
                        <h3 class="has-text-centered">{{ date_filter | date }}</h3>
                    </div>
                </div>

                <div class="column is-12">
                    {% profit_chart profit_chart_id %}
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Payables</h1>
                <h2 class="subtitle">
                    <span class="icon"><i class="icon mdi mdi-domain"></i></span>{{ entity.name }}</h2>
            </div>
        </div>
    </section>


    <section class="section">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <div class="tile is-child box content djetler-box-green">
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Assets' %}</h2>
                                <h1 class="has-text-centered">${{ tx_digest.groups.GROUP_ASSETS | cs_thousands }}</h1>
                                <h4 class="has-text-centered has-text-weight-light">{% trans 'Cash' %}</h4>
                                <h3 class="has-text-centered">${{ tx_digest.roles.ASSET_CA_CASH | cs_thousands }}</h3>
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Liabilities' %}</h2>
                                <h1 class="has-text-centered">
                                    ${{ tx_digest.groups.GROUP_LIABILITIES | cs_thousands }}</h1>
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Equity' %}</h2>
                                <h1 class="has-text-centered">${{ tx_digest.groups.GROUP_EQUITY | cs_thousands }}</h1>
                            </div>
                            <div class="tile is-child box content djetler-box-yellow">
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Revenue' %}</h2>
                                <h1 class="has-text-centered">${{ tx_digest.groups.GROUP_INCOME | cs_thousands }}</h1>
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Expenses' %}</h2>
                                <h1 class="has-text-centered">
                                    ${{ tx_digest.groups.GROUP_EXPENSES | reverse_sing | cs_thousands }}</h1>
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Earnings (Loss)' %}</h2>
                                <h1 class="has-text-centered">${{ tx_digest.groups.GROUP_EARNINGS | cs_thousands }}</h1>
                            </div>
                        </div>
                        <div class="tile is-parent is-vertical">
                            <div class="tile is-child box content">
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Insights' %}</h2>
                                <p>Future place for cool stuff.</p>
                                <div id="djetler-vue">[[message]]</div>
                            </div>
                            <div class="tile is-child box content">
                                <h3 class="has-text-weight-light has-text-centered">Financial Analysis</h3>

                                <h4>Solvency:</h4>
                                <ul>
                                    <li>Current Ratio: {{ tx_digest.ratios.current_ratio }}</li>
                                    <li>Quick Ratio: {{ tx_digest.ratios.quick_ratio }}</li>
                                </ul>

                                <h4>Leverage:</h4>
                                <ul>
                                    <li>Debt to Equity: {{ tx_digest.ratios.debt_to_equity }}</li>
                                </ul>

                                <h4>Profitability:</h4>
                                <ul>
                                    <li>ROE: {{ tx_digest.ratios.return_on_equity }}</li>
                                    <li>ROA: {{ tx_digest.ratios.return_on_assets }}</li>
                                    <li>Net Profit Margin: {{ tx_digest.ratios.net_profit_margin }}</li>
                                    <li>Gross Profit Margin: {{ tx_digest.ratios.gross_profit_margin }}</li>
                                </ul>


                            </div>
                        </div>
                    </div>

                </div>
                <div class="tile is-parent">
                    <div class="tile is-child box content">
                        <h2 class="has-text-centered has-text-weight-light">{% trans 'Chart of Accounts' %}</h2>
                        <a class="button is-primary is-outlined is-fullwidth djetler_my_1"
                           href="{% url 'django_ledger:account-list' entity_slug=entity.slug coa_slug=entity.coa.slug %}">Accounts</a>
                        <a class="button is-primary is-outlined is-fullwidth"
                           href="{{ entity.coa.get_update_url }}">CoA Settings</a>

                        <h2 class="has-text-centered has-text-weight-light">{% trans 'Ledgers' %}</h2>
                        <a class="button is-primary is-outlined is-fullwidth"
                           href="{% url 'django_ledger:ledger-list' entity_slug=view.kwargs.entity_slug %}">Ledgers</a>


                        <h2 class="has-text-centered has-text-weight-light">{% trans 'Actions' %}</h2>
                        <a class="button is-primary is-outlined is-fullwidth djetler_my_1"
                           href="{% url 'django_ledger:invoice-list' entity_slug=view.kwargs.entity_slug %}">Invoices</a>
                        <a class="button is-primary is-outlined is-fullwidth djetler_my_1"
                           href="{% url 'django_ledger:bill-list' entity_slug=view.kwargs.entity_slug %}">Bills</a>

                        <h2 class="has-text-centered has-text-weight-light">{% trans 'Reports' %}</h2>
                        <a class="button is-primary is-outlined is-fullwidth djetler_my_1"
                           href="{% url 'django_ledger:entity-bs' entity_slug=view.kwargs.entity_slug %}">Balance
                            Sheet</a>
                        <a class="button is-primary is-outlined is-fullwidth djetler_my_1"
                           href="{% url 'django_ledger:entity-ic' entity_slug=view.kwargs.entity_slug %}">Income
                            Statement</a>

                        <h2 class="has-text-centered has-text-weight-light">{% trans 'Entity' %}</h2>
                        <a class="button is-info is-outlined is-fullwidth djetler_my_1"
                           href="{% url 'django_ledger:bank-account-list' entity_slug=view.kwargs.entity_slug %}">Bank
                            Accounts</a>
                        <a class="button is-danger is-outlined is-fullwidth djetler_my_1"
                           href="{% url 'django_ledger:data-import-jobs-list' entity_slug=view.kwargs.entity_slug %}">Import</a>
                        <a class="button is-info is-outlined is-fullwidth djetler_my_1"
                           href="{% url 'django_ledger:entity-manage' entity_slug=view.kwargs.entity_slug %}">Manage</a>

                    </div>
                </div>
            </div>
        </div>


    </section>

{% endblock %}

{% block script_bottom %}
    {{ block.super }}
    <script>
        djLedger.renderProfitChart("{{ profit_chart_id }}")
    </script>
{% endblock %}


