{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8-tablet is-6-desktop">
                    <div class="box">
                        <form method="post" action="{% url 'django_ledger:entity-create' %}">
                            {% csrf_token %}
                            <label for="{{ form.name.id_for_label }}" class="label">{{ form.name.label }}</label>
                            <div class="field">
                                <div class="control">{{ form.name }}</div>
                            </div>
                            <button class="button is-small is-info is-normal is-fullwidth djetler_my_1"
                                    type="submit">Create</button>
                            <a class="button is-small is-dark is-fullwidth is-outlined"
                               href="{% url 'django_ledger:dashboard' %}"
                               type="submit">Back</a>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}