{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <article class="tile is-child box content djetler-box-green">
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Assets' %}</h2>
                                <h1 class="has-text-centered">${{ total_assets | cs_thousands }}</h1>
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Liabilities' %}</h2>
                                <h1 class="has-text-centered">${{ total_liabilities | cs_thousands }}</h1>
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Equity' %}</h2>
                                <h1 class="has-text-centered">${{ total_equity | cs_thousands }}</h1>
                            </article>
                            <article class="tile is-child box content djetler-box-yellow">
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Income' %}</h2>
                                <h1 class="has-text-centered">${{ total_income | cs_thousands }}</h1>
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Expenses' %}</h2>
                                <h1 class="has-text-centered">${{ total_expenses | cs_thousands }}</h1>
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Earnings (Loss)' %}</h2>
                                <h1 class="has-text-centered">${{ retained_earnings | cs_thousands }}</h1>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box content">
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Insights' %}</h2>
                                <p>Future place for cool stuff.</p>
                            </article>
                        </div>
                    </div>

                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box content">
                        <h2 class="has-text-centered has-text-weight-light">{% trans 'Chart of Accounts' %}</h2>
                        <a class="button is-primary is-outlined is-fullwidth djetler_my_1"
                           href="{% url 'django_ledger:account-list' entity_slug=entity.slug coa_slug=entity.coa.slug %}">Accounts</a>
                        <a class="button is-primary is-outlined is-fullwidth"
                           href="{{ entity.coa.get_update_url }}">CoA Settings</a>

                        <h2 class="has-text-centered has-text-weight-light">{% trans 'Ledgers' %}</h2>
                        <a class="button is-primary is-outlined is-fullwidth"
                           href="{{ entity.get_ledgers_url }}">Ledgers</a>


                        <h2 class="has-text-centered has-text-weight-light">{% trans 'Reports' %}</h2>
                        <a class="button is-primary is-outlined is-fullwidth djetler_my_1"
                           href="{{ entity.get_bs_url }}">Balance Sheet</a>
                        <a class="button is-primary is-outlined is-fullwidth djetler_my_1"
                           href="{{ entity.get_ic_url }}">Income Statement</a>

                        <h2 class="has-text-centered has-text-weight-light">{% trans 'Entity' %}</h2>
                        <a class="button is-primary is-outlined is-fullwidth"
                           href="{% url 'django_ledger:entity-update' entity_slug=view.kwargs.entity_slug %}">Settings</a>

                    </article>
                </div>
            </div>
        </div>


    </section>

{% endblock %}

