{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block content %}

    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">{% trans 'Financial Overview' %}</h1>
                <h2 class="subtitle">
                    <span class="icon"><i class="icon mdi mdi-domain"></i></span>{{ entity.name }}</h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column is-3">
                    <div class="box">
                        {% include 'django_ledger/includes/menu.html' %}
                    </div>

                </div>
                <div class="column is-9">
                    <div class="columns is-multiline">

                        <div class="column is-6-tablet">
                            <div class="box content djetler-box-green">
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Assets' %}</h2>
                                <h1 class="has-text-centered">
                                    ${{ tx_digest.group_balance.GROUP_ASSETS | cs_thousands }}</h1>
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Liabilities' %}</h2>
                                <h1 class="has-text-centered">
                                    ${{ tx_digest.group_balance.GROUP_LIABILITIES | cs_thousands }}</h1>
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Equity' %}</h2>
                                <h1 class="has-text-centered">
                                    ${{ tx_digest.group_balance.GROUP_EQUITY | cs_thousands }}</h1>
                                <h4 class="has-text-centered has-text-weight-light">{% trans 'Cash' %}</h4>
                                <h3 class="has-text-centered">
                                    ${{ tx_digest.role_balance.ASSET_CA_CASH | cs_thousands }}</h3>
                            </div>
                        </div>

                        <div class="column is-6-tablet">
                            <div class="box content djetler-box-yellow">
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Revenue' %}</h2>
                                <h1 class="has-text-centered">
                                    ${{ tx_digest.group_balance.GROUP_INCOME | cs_thousands }}</h1>
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Expenses' %}</h2>
                                <h1 class="has-text-centered">
                                    ${{ tx_digest.group_balance.GROUP_EXPENSES | reverse_sing | cs_thousands }}</h1>
                                <h2 class="has-text-centered has-text-weight-light">{% trans 'Earnings (Loss)' %}</h2>
                                <h1 class="has-text-centered">
                                    ${{ tx_digest.group_balance.GROUP_EARNINGS | cs_thousands }}</h1>
                                <h4 class="has-text-centered has-text-weight-light">{% trans 'As Of' %}</h4>
                                <h3 class="has-text-centered">{{ date_filter | date }}</h3>
                            </div>
                        </div>

                        <div class="column is-12">
                            <div class="box">
                                {% chart_container pnl_chart_id %}
                            </div>

                        </div>
                        <div class="column is-6">
                            <div class="box content">
                                <h2 class="has-text-weight-light has-text-centered">Financial Analysis</h2>

                                <h4>Solvency:</h4>
                                <h5 class="has-text-weight-light">Current
                                    Ratio: {{ tx_digest.ratios.current_ratio | cs_thousands }}</h5>
                                <progress
                                        class="progress {{ tx_digest.ratios.current_ratio | fin_ratio_threshold_class:'current_ratio' }}"
                                        value="{{ tx_digest.ratios.current_ratio }}"
                                        max="{% fin_ratio_max_value ratio='current_ratio' %}">
                                    {{ tx_digest.ratios.current_ratio }}</progress>
                                <h5 class="has-text-weight-light">Quick
                                    Ratio: {{ tx_digest.ratios.quick_ratio | cs_thousands }} </h5>
                                <progress
                                        class="progress {{ tx_digest.ratios.quick_ratio | fin_ratio_threshold_class:'quick_ratio' }}"
                                        value="{{ tx_digest.ratios.quick_ratio }}"
                                        max="{% fin_ratio_max_value ratio='quick_ratio' %}">
                                    {{ tx_digest.ratios.current_ratio }}</progress>

                                <h4>Leverage:</h4>
                                <h5 class="has-text-weight-light">Debt to
                                    Equity: {{ tx_digest.ratios.debt_to_equity | cs_thousands }} </h5>
                                <progress
                                        class="progress {{ tx_digest.ratios.debt_to_equity | fin_ratio_threshold_class:'debt_to_equity' }}"
                                        value="{{ tx_digest.ratios.debt_to_equity }}"
                                        max="{% fin_ratio_max_value ratio='debt_to_equity' %}">
                                    {{ tx_digest.ratios.debt_to_equity }}</progress>


                                <h4>Profitability:</h4>
                                <h5 class="has-text-weight-light">Return on
                                    Equity: {{ tx_digest.ratios.return_on_equity | percentage }} </h5>
                                <progress
                                        class="progress {{ tx_digest.ratios.quick_ratio | fin_ratio_threshold_class:'quick_ratio' }}"
                                        value="{{ tx_digest.ratios.return_on_equity }}"
                                        max="{% fin_ratio_max_value ratio='return_on_equity' %}">
                                    {{ tx_digest.ratios.return_on_equity }}</progress>

                                <h5 class="has-text-weight-light">Return on
                                    Assets: {{ tx_digest.ratios.return_on_assets | percentage }} </h5>
                                <progress
                                        class="progress {{ tx_digest.ratios.return_on_assets | fin_ratio_threshold_class:'return_on_assets' }}"
                                        value="{{ tx_digest.ratios.return_on_assets }}"
                                        max="{% fin_ratio_max_value ratio='return_on_assets' %}">{{ tx_digest.ratios.return_on_assets }}</progress>

                                <h5 class="has-text-weight-light">Net Profit
                                    Margin: {{ tx_digest.ratios.net_profit_margin | percentage }} </h5>
                                <progress
                                        class="progress {{ tx_digest.ratios.net_profit_margin | fin_ratio_threshold_class:'net_profit_margin' }}"
                                        value="{{ tx_digest.ratios.net_profit_margin }}"
                                        max="{% fin_ratio_max_value ratio='net_profit_margin' %}">{{ tx_digest.ratios.net_profit_margin }}</progress>

                                <h5 class="has-text-weight-light">Gross Profit
                                    Margin: {{ tx_digest.ratios.gross_profit_margin | percentage }} </h5>
                                <progress
                                        class="progress {{ tx_digest.ratios.gross_profit_margin | fin_ratio_threshold_class:'gross_profit_margin' }}"
                                        value="{{ tx_digest.ratios.gross_profit_margin }}"
                                        max="{% fin_ratio_max_value ratio='gross_profit_margin' %}">{{ tx_digest.ratios.gross_profit_margin }}</progress>

                            </div>

                        </div>


                    </div>

                </div>
            </div>

        </div>
    </section>

    {# RECEIVABLES SECTION START #}
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">{% trans 'Receivables' %}</h1>
                <h2 class="subtitle">
                    <span class="icon"><i class="icon mdi mdi-domain"></i></span>{{ entity.name }}</h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline is-centered">
                {% if invoices %}
                    <div class="column is-8-tablet">
                        <div class="box">
                            {% chart_container receivables_chart_id %}
                        </div>
                    </div>
                {% endif %}

                <div class="column is-4-tablet">
                    <div class="box">
                        <div class="container">
                            <div class="columns">
                                <div class="column">
                                    <a href="{% url 'django_ledger:invoice-list' entity_slug=view.kwargs.entity_slug %}"
                                       class="button is-fullwidth is-info">View All Invoices</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% for invoice in invoices %}
                    <div class="column is-6-tablet is-4-desktop">
                        {% include 'django_ledger/includes/card_invoice.html' with invoice=invoice entity_slug=entity.slug %}
                    </div>
                {% endfor %}
                <div class="column is-6-tablet is-4-desktop">
                    {% include 'django_ledger/includes/card_invoice.html' with create_invoice=True entity_slug=entity.slug %}
                </div>
            </div>
        </div>
    </section>
    {# RECEIVABLES SECTION END #}


    {# PAYABLES SECTION START #}
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">{% trans 'Payables' %}</h1>
                <h2 class="subtitle">
                    <span class="icon"><i class="icon mdi mdi-domain"></i></span>{{ entity.name }}</h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline is-centered">
                {% if bills %}
                    <div class="column is-8-tablet">
                        <div class="box">
                            {% chart_container payables_chart_id %}
                        </div>
                    </div>
                {% endif %}
                {% for bill in bills %}
                    <div class="column is-6-tablet is-4-desktop">
                        {% include 'django_ledger/includes/card_bill.html' with bill=bill entity_slug=entity.slug %}
                    </div>
                {% endfor %}
                <div class="column is-6-tablet is-4-desktop">
                    {% include 'django_ledger/includes/card_bill.html' with create_bill=True entity_slug=entity.slug %}
                </div>
            </div>
        </div>
    </section>
    {# PAYABLES SECTION END #}


{% endblock %}

{% block script_bottom %}
    {{ block.super }}
    <script>
        djLedger.renderInEChart("{{ pnl_chart_id }}", "{{ view.kwargs.entity_slug }}")
        djLedger.renderNetPayablesChart("{{ payables_chart_id }}", "{{ view.kwargs.entity_slug }}")
        djLedger.renderNetReceivablesChart("{{ receivables_chart_id }}", "{{ view.kwargs.entity_slug }}")
    </script>
{% endblock %}


