{% extends 'django_ledger/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block aux_menu %}
    {% if entity %}
        <div class="column is-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">{% trans 'Balance Sheet Options' %}</div>
                </div>
                <div class="card-content">
                    <h2 class="is-size-3 has-font-weight-light">Current Year {{ year }}</h2>
                    <p>Year:
                        <a href="{% url 'django_ledger:entity-ic-year' entity_slug=view.kwargs.entity_slug year=previous_year %}"><< {{ previous_year }}</a>
                        |
                        <a href="{% url 'django_ledger:entity-ic-year' entity_slug=view.kwargs.entity_slug year=next_year %}">{{ next_year }}
                            >></a>
                    </p>
                    <p>Quarter:
                        <a href="{% url 'django_ledger:entity-ic-quarter' entity_slug=view.kwargs.entity_slug year=year quarter=1 %}">Q1</a>
                        |
                        <a href="{% url 'django_ledger:entity-ic-quarter' entity_slug=view.kwargs.entity_slug year=year quarter=2 %}">Q2</a>
                        |
                        <a href="{% url 'django_ledger:entity-ic-quarter' entity_slug=view.kwargs.entity_slug year=year quarter=3 %}">Q3</a>
                        |
                        <a href="{% url 'django_ledger:entity-ic-quarter' entity_slug=view.kwargs.entity_slug year=year quarter=4 %}">Q4</a>
                    </p>
                    <p>Month:
                        <a href="{% url 'django_ledger:entity-ic-month' entity_slug=view.kwargs.entity_slug year=year month=1 %}">Jan</a>
                        |
                        <a href="{% url 'django_ledger:entity-ic-month' entity_slug=view.kwargs.entity_slug year=year month=2 %}">Feb</a>
                        |
                        <a href="{% url 'django_ledger:entity-ic-month' entity_slug=view.kwargs.entity_slug year=year month=3 %}">Mar</a>
                        |
                        <a href="{% url 'django_ledger:entity-ic-month' entity_slug=view.kwargs.entity_slug year=year month=4 %}">Apr</a>
                        |
                        <a href="{% url 'django_ledger:entity-ic-month' entity_slug=view.kwargs.entity_slug year=year month=5 %}">May</a>
                        |
                        <a href="{% url 'django_ledger:entity-ic-month' entity_slug=view.kwargs.entity_slug year=year month=6 %}">Jun</a>
                        |
                        <a href="{% url 'django_ledger:entity-ic-month' entity_slug=view.kwargs.entity_slug year=year month=7 %}">Jul</a>
                        |
                        <a href="{% url 'django_ledger:entity-ic-month' entity_slug=view.kwargs.entity_slug year=year month=8 %}">Aug</a>
                        |
                        <a href="{% url 'django_ledger:entity-ic-month' entity_slug=view.kwargs.entity_slug year=year month=9 %}">Sep</a>
                        |
                        <a href="{% url 'django_ledger:entity-ic-month' entity_slug=view.kwargs.entity_slug year=year month=10 %}">Oct</a>
                        |
                        <a href="{% url 'django_ledger:entity-ic-month' entity_slug=view.kwargs.entity_slug year=year month=11 %}">Nov</a>
                        |
                        <a href="{% url 'django_ledger:entity-ic-month' entity_slug=view.kwargs.entity_slug year=year month=12 %}">Dec</a>
                    </p>
                </div>
            </div>
        </div>
    {% elif ledger %}
        <div class="column is-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">{% trans 'Balance Sheet Options' %}</div>
                </div>
                <div class="card-content">
                    <h2 class="is-size-3 has-font-weight-light">Current Year {{ year }}</h2>
                    <p>Year:
                        <a href="{% url 'django_ledger:ledger-ic-year' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=previous_year %}"><< {{ previous_year }}</a>
                        |
                        <a href="{% url 'django_ledger:ledger-ic-year' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=next_year %}">{{ next_year }}
                            >></a>
                    </p>
                    <p>Quarter:
                        <a href="{% url 'django_ledger:ledger-ic-quarter' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year quarter=1 %}">Q1</a>
                        |
                        <a href="{% url 'django_ledger:ledger-ic-quarter' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year quarter=2 %}">Q2</a>
                        |
                        <a href="{% url 'django_ledger:ledger-ic-quarter' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year quarter=3 %}">Q3</a>
                        |
                        <a href="{% url 'django_ledger:ledger-ic-quarter' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year quarter=4 %}">Q4</a>
                    </p>
                    <p>Month:
                        <a href="{% url 'django_ledger:ledger-ic-month' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year month=1 %}">Jan</a>
                        |
                        <a href="{% url 'django_ledger:ledger-ic-month' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year month=2 %}">Feb</a>
                        |
                        <a href="{% url 'django_ledger:ledger-ic-month' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year month=3 %}">Mar</a>
                        |
                        <a href="{% url 'django_ledger:ledger-ic-month' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year month=4 %}">Apr</a>
                        |
                        <a href="{% url 'django_ledger:ledger-ic-month' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year month=5 %}">May</a>
                        |
                        <a href="{% url 'django_ledger:ledger-ic-month' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year month=6 %}">Jun</a>
                        |
                        <a href="{% url 'django_ledger:ledger-ic-month' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year month=7 %}">Jul</a>
                        |
                        <a href="{% url 'django_ledger:ledger-ic-month' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year month=8 %}">Aug</a>
                        |
                        <a href="{% url 'django_ledger:ledger-ic-month' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year month=9 %}">Sep</a>
                        |
                        <a href="{% url 'django_ledger:ledger-ic-month' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year month=10 %}">Oct</a>
                        |
                        <a href="{% url 'django_ledger:ledger-ic-month' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year month=11 %}">Nov</a>
                        |
                        <a href="{% url 'django_ledger:ledger-ic-month' entity_slug=view.kwargs.entity_slug ledger_pk=ledger.uuid year=year month=12 %}">Dec</a>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block view_content %}
    <div class="card">
        <div class="card-content has-text-centered">
            <div class="container mb-4">
                <div class="columns">
                    <div class="column">
                        {% if entity %}
                            <h1 class="is-size-2 has-text-weight-light">{% session_entity_name %}</h1>
                        {% elif ledger %}
                            <h1 class="is-size-2 has-text-weight-light">{{ ledger.name }}</h1>
                        {% endif %}
                        <h1 class="is-size-2 has-text-weight-bold">{% trans 'Income Statement' %}</h1>
                        <h2 class="is-size-2 has-text-weight-light">
                            {% if quarter %}{{ year }} | Q{{ quarter }}
                                {% elif month %}{{ start_date | date:'F, Y' }}
                            {% else %}Fiscal Year {{ year }}
                            {% endif %}</h2>
                        <h3 class="is-size-4 is-italic has-font-weight-light">
                            {{ start_date | date:'m/d/Y' }} - {{ end_date | date:'m/d/Y' }}
                        </h3>
                    </div>
                </div>
            </div>
            {% income_statement_table ledger_or_entity=object start_date=start_date end_date=end_date %}
            {% if ledger %}
                <a class="button is-fullwidth is-dark is-small djetler_my_1"
                   href="{% url 'django_ledger:ledger-list' entity_slug=view.kwargs.entity_slug %}">Go
                    Back</a>
            {% elif entity %}
                <a class="button is-fullwidth is-dark is-small djetler_my_1"
                   href="{% url 'django_ledger:entity-dashboard' entity_slug=view.kwargs.entity_slug %}">Go
                    Back</a>
            {% endif %}
        </div>
    </div>

{% endblock %}