{% extends 'django_ledger/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block view_content %}

    <div class="box">
        {% income_statement_table %}
        {% if request.resolver_match.view_name == 'django_ledger:ledger-ic' %}
            <a class="button is-fullwidth is-dark is-small djetler_my_1"
               href="{% url 'django_ledger:ledger-list' entity_slug=view.kwargs.entity_slug %}">Go
                Back</a>
        {% elif request.resolver_match.view_name == 'django_ledger:entity-ic' %}
            <a class="button is-fullwidth is-dark is-small djetler_my_1"
               href="{% url 'django_ledger:entity-dashboard' entity_slug=view.kwargs.entity_slug %}">Go
                Back</a>
        {% endif %}
    </div>

{% endblock %}