{% extends 'django_ledger/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block view_content %}
    <div class="container">
        <div class="columns">
            <div class="column">
                {% if inventory_ordered %}
                    <div class="column is-12">
                        <div class="box">
                            <h1 class="is-size-1 has-text-weight-light has-text-centered">Inventory Ordered</h1>
                            {% inventory_table inventory_ordered %}
                        </div>
                    </div>
                {% endif %}
                {% if inventory_in_transit %}
                    <div class="column is-12">
                        <div class="box">
                            <h1 class="is-size-1 has-text-weight-light has-text-centered">Inventory In Transit</h1>
                            <div class="table-container">
                                {% inventory_table inventory_in_transit %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if inventory_received %}
                    <div class="column is-12">
                        <div class="box">
                            <h1 class="is-size-1 has-text-weight-light has-text-centered">Inventory On Hand</h1>
                            <div class="table-container">
                                {% inventory_table inventory_received %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}