{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block content %}
    <section class="section">
        <div class="container">

            <div class="columns is-centered">
                <div class="column is-10-tablet">
                    <div class="box">
                        <form action="{% url 'django_ledger:invoice-update' entity_slug=view.kwargs.entity_slug invoice_slug=invoice.invoice_number %}"
                              method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit"
                                    class="button is-primary is-outlined is-fullwidth djetler_my_1">Save
                            </button>
                            <a href="{% url 'django_ledger:invoice-list' entity_slug=view.kwargs.entity_slug %}"
                               class="button is-small is-dark is-fullwidth">Back</a>
                        </form>

                        <div class="media-content">
                            <p>{{ invoice.cash_account }}: ${{ invoice.amount_paid | cs_thousands }}</p>
                            <p>{{ invoice.receivable_account }}: ${{ invoice.amount_receivable | cs_thousands }}</p>
                            <p>{{ invoice.payable_account }}: ${{ invoice.amount_unearned | cs_thousands }}</p>
                            <p>{{ invoice.income_account }}: ${{ invoice.amount_earned | cs_thousands }}</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
