{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block content %}
    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column">
                    <div class="box">
                        {#                        <a class="button is-primary is-outlined"#}
                        {#                           href="{% url 'django_ledger:je-create' entity_slug=view.kwargs.entity_slug ledger_pk=view.kwargs.ledger_pk %}">Add</a>#}
                        <a class="button is-dark"
                           href="{% url 'django_ledger:entity-detail' entity_slug=view.kwargs.entity_slug %}">Back</a>

                        <form method="post"
                              action="{% url 'django_ledger:invoice-update' entity_slug=view.kwargs.entity_slug invoice_slug=invoice.invoice_number %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="button" type="submit">Submit</button>
                        </form>

                        <div class="media-content">
                            <p>ASSET - Cash: ${{ invoice.payment_amount | cs_thousands }}</p>
                            <p>ASSET - Open Amount: ${{ invoice.open | cs_thousands }}</p>
                            <p>ASSET - Earned Receivable: ${{ invoice.receivable | cs_thousands }}</p>
                            <p>LIABILITY - Unearned Receivable: ${{ invoice.unearned_receivable | cs_thousands }}</p>
                            <p>EQUITY - Earnings: ${{ invoice.earnings | cs_thousands }}</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
