{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load django_ledger %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <div class="box">
                        {% txs_table journal_entry %}
                        <a class="button is-primary is-outlined"
                           href="{% url 'django_ledger:txs' entity_slug=view.kwargs.entity_slug ledger_pk=journal_entry.ledger_id je_pk=journal_entry.id %}">Edit
                            Txs</a>
                        <a class="button is-dark"
                           href="{% url 'django_ledger:je-list' entity_slug=view.kwargs.entity_slug ledger_pk=journal_entry.ledger_id %}">Back</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}