{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <div class="box">
                        {% journal_entry_txs_table journal_entry %}
                        <a class="button is-primary is-outlined"
                           href="{% url 'django_ledger:txs-journal-entry' entity_slug=view.kwargs.entity_slug ledger_pk=view.kwargs.ledger_pk je_pk=journal_entry.uuid %}">Edit
                            Txs</a>
                        <a class="button is-dark"
                           href="{% url 'django_ledger:je-list' entity_slug=view.kwargs.entity_slug ledger_pk=view.kwargs.ledger_pk %}">Back</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}