{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column">
                    <a class="button is-dark"
                       href="{% url 'django_ledger:je-create' entity_slug=view.kwargs.entity_slug ledger_pk=view.kwargs.ledger_pk %}">Add</a>
                    <ul>
                        {% for je in jes %}
                            <li>{{ je }}
                                <a class="button is-small is-dark"
                                   href="{% url 'django_ledger:je-detail' entity_slug=view.kwargs.entity_slug ledger_pk=je.ledger_id je_pk=je.id %}">View</a>
                                <a class="button is-small is-dark"
                                   href="{% url 'django_ledger:je-update' entity_slug=view.kwargs.entity_slug ledger_pk=je.ledger_id je_pk=je.id %}">Edit</a>
                                <a class="button is-small is-dark"
                                   href="{% url 'django_ledger:txs' entity_slug=view.kwargs.entity_slug ledger_pk=je.ledger_id je_pk=je.id %}">Txs</a>
                            </li>
                        {% endfor %}

                    </ul>

                </div>
            </div>

        </div>
    </section>
{% endblock %}
