{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block content %}
    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column">
                    <div class="box">
                        <a class="button is-primary is-outlined"
                           href="{% url 'django_ledger:je-create' entity_slug=view.kwargs.entity_slug ledger_pk=view.kwargs.ledger_pk %}">Add</a>
                        <a class="button is-dark"
                           href="{% url 'django_ledger:ledger-list' entity_slug=view.kwargs.entity_slug %}">Back</a>
                        {% jes_table %}
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
