{% load humanize %}
{% load django_ledger %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update Journal Entry</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Update Journal Entry</h1>
        <p class="subtitle">{{ je.txs.count }} Transactions</p>
    </div>
</section>
<section class="section">
    <div class="container">

        <div class="columns">
            <div class="column">
                <h1 class="is-size-3">Journal Entry Transactions</h1>

                <form method="post"
                      action="{% url 'django_ledger:je-update' entity_slug=view.kwargs.entity_slug ledger_pk=view.kwargs.ledger_pk je_pk=journal_entry.id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button is-small is-dark" type="submit">Update</button>
                </form>

            </div>
        </div>

    </div>
</section>
</body>
</html>