{% load humanize %}
{% load django_ledger %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Journal Entry Detail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">{{ journal_entry.description }}</h1>
        <p class="subtitle">{{ journal_entry.txs.count }} Transactions</p>
    </div>
</section>
<section class="section">
    <div class="container">

        <div class="columns">
            <div class="column">
                <h1 class="is-size-3">Journal Entry Transactions</h1>
                {% je_txs journal_entry %}
{#                <table>#}
{#                    <tr>#}
{#                        <th>Account</th>#}
{#                        <th>Account Name</th>#}
{#                        <th>Credit</th>#}
{#                        <th>Debit</th>#}
{#                    </tr>#}
{#                    {% for tx in journal_entry.txs.all %}#}
{#                        <tr>#}
{#                        <td>{{ tx.account.code }}</td>#}
{#                        <td>{{ tx.account.name }}</td>#}
{#                        <td>{% if tx.tx_type == 'credit' %}${{ tx.amount | intcomma }}{% endif %}</td>#}
{#                        <td>{% if tx.tx_type == 'debit' %}${{ tx.amount | intcomma }}{% endif %}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                </table>#}


            </div>
        </div>

    </div>
</section>
</body>
</html>