{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load django_ledger %}




{% block content %}

    <section class="section">
        <div class="container">

            <div class="columns is-centered">
                <div class="column is-8-tablet is-6-desktop">
                    <h1 class="is-size-3">Ledger Journal Entries</h1>
                    <a class="button is-dark is-small"
                       href="{% url 'django_ledger:je-create' entity_slug=view.kwargs.entity_slug ledger_pk=view.kwargs.ledger_pk %}">New
                        JE</a>
                    <a class="button is-small is-dark"
                       href="{% url 'django_ledger:je-bs' entity_slug=view.kwargs.entity_slug ledger_pk=view.kwargs.ledger_pk %}">BS</a>
                    <a class="button is-small is-dark"
                       href="{% url 'django_ledger:je-ic' entity_slug=view.kwargs.entity_slug ledger_pk=view.kwargs.ledger_pk %}">IC</a>

                    <ul>
                        {% for je in ledger.journal_entry.all %}
                            <li>{{ je }}
                                <a class="button is-small is-dark"
                                   href="{% url 'django_ledger:je-detail' entity_slug=view.kwargs.entity_slug ledger_pk=je.ledger_id je_pk=je.id %}">View</a>
                                <a class="button is-small is-dark"
                                   href="{% url 'django_ledger:je-update' entity_slug=view.kwargs.entity_slug ledger_pk=je.ledger_id je_pk=je.id %}">Edit</a>
                                <a class="button is-small is-dark"
                                   href="{% url 'django_ledger:txs' entity_slug=view.kwargs.entity_slug ledger_pk=je.ledger_id je_pk=je.id %}">Txs</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </section>

{% endblock %}