{% extends 'django_ledger/base.html' %}
{% load static %}
{% load django_ledger %}

{% block content %}
    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column">
                    <div class="box">
                        <a class="button is-primary is-outlined"
                           href="{% url 'django_ledger:ledger-create' entity_slug=view.kwargs.entity_slug %}">Add</a>
                        <a class="button is-dark"
                           href="{% url 'django_ledger:entity-dashboard' entity_slug=view.kwargs.entity_slug %}">Back</a>
                        {% ledgers_table %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
