{% extends 'django_ledger/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block view_content %}

    <div class="columns">
        <div class="column is-4">
            <div class="columns is-multiline">
                <div class="column is-12">
                    {% include 'django_ledger/includes/card_po.html' with po_model=po_model entity_slug=view.kwargs.entity_slug style='po-detail' %}
                </div>
                {% if po_model.vendor %}
                    <div class="column is-12">
                        {% include 'django_ledger/includes/card_vendor.html' with vendor=po_model.vendor %}
                    </div>
                {% endif %}
                <div class="column is-12">
                    <a class="button is-info is-fullwidth is-outlined"
                       href="{% url 'django_ledger:po-list' entity_slug=view.kwargs.entity_slug %}">
                        {% trans 'PO List' %}
                    </a>
                </div>
            </div>
        </div>

        <div class="column is-8">

            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">PO Amount:
                        <p class="title">
                            {% currency_symbol %}{{ po_model.po_amount | absolute | currency_format }}</p>
                    </div>
                </div>

                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Amount Received:</p>
                        <p class="title has-text-success">
                            {% currency_symbol %}{{ po_model.po_amount_received  | currency_format }}</p>
                    </div>
                </div>
            </nav>

            <div class="columns is-multiline">
                <div class="column is-6">
                    <h3 class="is-size-3 has-text-weight-light">{{ po_model.po_title }}</h3>
                </div>
                <div class="column is-6">
                    <div class="box">
                        <h3 class="is-size-4">Notes:</h3>
                        <hr>
                        {#                    <p class="has-text-weight-light">{{ po_model.po_notes }}</p>#}
                        <p class="has-text-weight-light">{% lorem %}</p>
                        <p class="has-text-weight-light">{% lorem %}</p>
                        <p class="has-text-weight-light">{% lorem %}</p>

                    </div>
                </div>
                <div class="column is-12">
                    <div class="table-container">
                        <table class="table is-fullwidth is-tripped is-narrow">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Unit Cost</th>
                                <th>Total Cost</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in po_items %}
                                <tr>
                                    <td>{{ item.item_model }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.unit_cost }}</td>
                                    <td class="{% if item.is_cancelled %}djl-is-strikethrough{% endif %}">
                                        {% currency_symbol %}{{ item.total_amount | currency_format }}</td>
                                    <td class="has-text-weight-bold {% if item.is_cancelled %}has-text-danger{% endif %}">
                                        {{ item.get_po_item_status_display }}
                                    </td>
                                    <td>
{#                                        {{ item.create_bill }}#}
{#                                        <div class="dropdown is-right is-hoverable"#}
{#                                             id="je-action-{{ je.uuid }}">#}
{#                                            <div class="dropdown-trigger">#}
{#                                                <button class="button is-small is-rounded is-outlined is-dark"#}
{#                                                        aria-haspopup="true"#}
{#                                                        aria-controls="dropdown-menu">#}
{#                                                    <span>Actions</span>#}
{#                                                    <span class="icon is-small">#}
{#                                        {% icon 'bi:arrow-down' 24 %}#}
{#                                      </span>#}
{#                                                </button>#}
{#                                            </div>#}
{##}
{#                                            <div class="dropdown-menu"#}
{#                                                 id="dropdown-menu-{{ item.html_id }}"#}
{#                                                 role="menu">#}
{#                                                <div class="dropdown-content">#}
{#                                                    <a class="dropdown-item"#}
{#                                                       href="">Edit</a>#}
{#                                                    <a class="dropdown-item"#}
{#                                                       href="">View</a>#}
{#                                                    <a class="dropdown-item"#}
{#                                                       href="">Txs</a>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Total PO Amount</td>
                                <td class="has-text-weight-bold">
                                    {% currency_symbol %}{{ total_amount_due | currency_format }}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
