{% extends 'django_ledger/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load django_ledger %}

{% block view_content %}

    <div class="columns">
        <div class="column has-text-centered is-12">
            <h1 class="is-size-1 has-text-weight-light">{% trans 'Update Purchase Order' %}</h1>
            <h2 class="title">{{ po_model.po_number }}</h2>
        </div>
    </div>

    <form action="{% url 'django_ledger:po-update' entity_slug=view.kwargs.entity_slug po_pk=po_model.uuid %}"
          method="post">
        {% csrf_token %}

        {% if form.errors %}
            {{ form.errors }}
        {% endif %}

        <div class="columns is-multiline">
            <div class="column is-6">
                <div class="field">
                    <label for="{{ form.po_title.id_for_label }}" class="label">{{ form.po_title.label }}</label>
                    <div class="control">
                        {{ form.po_title }}
                    </div>
                </div>
                <div class="field">
                    <label for="{{ form.po_date.id_for_label }}"
                           class="label">{{ form.po_date.label }}</label>
                    <div class="control">
                        {{ form.po_date }}
                    </div>
                </div>

                <div class="field">
                    <label for="{{ form.po_status.id_for_label }}" class="label">{{ form.po_status.label }}</label>
                    <div class="control">
                        {{ form.po_status }}
                    </div>
                </div>
                <div class="field">
                    <label for="{{ form.vendor.id_for_label }}" class="label">{{ form.vendor.label }}</label>
                    <div class="control">
                        {{ form.vendor }}
                    </div>
                </div>
                <div class="field">
                    <label for="{{ form.fulfillment_date.id_for_label }}"
                           class="label">{{ form.fulfillment_date.label }}</label>
                    <div class="control">
                        {{ form.fulfillment_date }}
                    </div>
                </div>
                <div class="field">
                    <label for="{{ form.fulfilled.id_for_label }}"
                           class="label">{{ form.fulfilled.label }}</label>
                    <div class="control">
                        {{ form.fulfilled }}
                    </div>
                </div>

            </div>
            <div class="column is-6">
                <div class="field">
                    <label for="{{ form.po_notes.id_for_label }}" class="label">{{ form.po_notes.label }}</label>
                    {{ form.po_notes }}
                </div>
            </div>
            <div class="column is-12 has-text-centered">
                <button type="submit" class="button is-medium is-primary">{% trans 'Update PO' %}</button>
            </div>
            <div class="column is-12 has-text-centered">
                <h3 class="is-size-3 has-text-weight-light">{% trans 'Purchase Order Amount' %}:
                    {% currency_symbol %}{{ po_model.po_amount | currency_format }}</h3>
                <h3 class="is-size-3 has-text-weight-light">{% trans 'Received Amount' %}:
                    {% currency_symbol %}{{ po_model.po_amount_received | currency_format }}</h3>
            </div>

        </div>

    </form>

    <hr>

    {% po_item_formset_table item_formset %}

{% endblock %}
