{% extends 'django_ledger/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column has-text-centered">
                <div class="box">
                    <form action="{{ txs_formset_url }}" method="post">
                        {% csrf_token %}
                        {{ txs_formset.non_form_errors }}
                        {{ txs_formset.management_form }}
                        <div class="column">
                            <table class="table">
                                <tr>
                                    <th>Account</th>
                                    <th>TX Type</th>
                                    <th>Amount</th>
                                    <th>Description</th>
                                    {% if txs_formset.can_delete %}
                                        <th>Delete</th>
                                    {% endif %}
                                    <th>Errors</th>
                                </tr>

                                {% for f in txs_formset %}
                                    <tr>
                                        <td>
                                            {{ f.id }}
                                            {{ f.journal_entry }}
                                            {{ f.account }}
                                        </td>
                                        <td>{{ f.tx_type }}</td>
                                        <td>{{ f.amount }}</td>
                                        <td>{{ f.description }}</td>
                                        <td>
                                            {% if txs_formset.can_delete %}
                                                {{ f.DELETE }}
                                            {% endif %}
                                        </td>
                                        <td>{{ f.errors }}</td>
                                    </tr>
                                {% endfor %}


                            </table>
                        </div>
                        <button class="button is-primary is-outlined">Save</button>
                        <a class="button is-dark"
                           href="{% url "django_ledger:je-list" entity_slug=entity_slug ledger_pk=ledger_pk %}">Done</a>
                    </form>
                </div>

                </div>
            </div>

        </div>
    </section>
{% endblock %}